Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Released 0.132.6 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add default timeout for all remaining spark jobs
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Add default timeout for all remaining spark jobs
  paasta_tools/cli/cmds/spark_run.py
Due: none

COMPINFRA-582, add pool label to pods
  paasta_tools/kubernetes_tools.py
Due: none

Fix tests
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Remove debug statement
  paasta_tools/cli/cmds/wait_for_deployment.py
Due: none

Adding Envoy lb_policy in smartstack schema
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/smartstack_schema.json
  paasta_tools/long_running_service_tools.py
  tests/test_marathon_tools.py
Due: patch-enforce-autospec

Update docs/source/yelpsoa_configs.rst
  docs/source/yelpsoa_configs.rst
Due: none

Removed deprecated lb policy
  paasta_tools/cli/schemas/smartstack_schema.json
Due: none

Fixed example for lb policy
  paasta_tools/long_running_service_tools.py
Due: none

Released 0.132.7 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

[FLINK-4097] Mypy typing fixes
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Released 0.132.8 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Add default timeout for all remaining spark jobs"
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

MLCOMPUTE-23 | added enable dra flag
  paasta_tools/cli/cmds/spark_run.py
Due: none

Revert "Merge pull request #3382 from Yelp/d/manpreet/MLCOMPUTE-184-add_default_timeout"
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Only add auto timeout for spark-submit commands
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Add test for bash as command
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.132.9 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

[FLINK-4097] Remove unused parameters
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

[FLINK-4097] Add swagger spec for new endpoints
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
Due: check-oapi-schema

Remove unused model `InstanceSpecKafkaCluster`
  paasta_tools/api/api_docs/swagger.json
Due: none

Add makefile target to validate swagger.json
  Makefile
Due: none

Use make --question to check if a Makefile has a given target
  paasta_tools/cli/cmds/check.py
  paasta_tools/cli/cmds/cook_image.py
Due: none

Use make --question to check if a Makefile has a given target (#3389)
  paasta_tools/cli/cmds/check.py
  paasta_tools/cli/cmds/cook_image.py
Due: none

Released 0.132.10 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use correct labelling for labels
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

[FLINK-4097] Add fail-case unit tests
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

[FLINK-4097] Small improvements
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Fix setting fs_group
  paasta_tools/kubernetes_tools.py
Due: none

Make comments clearer
  paasta_tools/kubernetes_tools.py
Due: none

[FLINK-4097] Fix for the JM url
  paasta_tools/flink_tools.py
Due: none

MLCOMPUTE-23 | addressed review comments
  paasta_tools/cli/cmds/spark_run.py
Due: none

MLCOMPUTE-23 | added and fixed unit tests
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

[FLINK-4097] Small changes
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/api/test_flink.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

[FLINK-4097] Correct type annotations
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

[FLINK-4097] Small corrections
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
