Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

correct owner kube
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

use paasta_prefixed everywhere
  paasta_tools/contrib/get_running_task_allocation.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes/bin/kubernetes_remove_evicted_pods.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/tron_tools.py
  tests/test_kubernetes_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Use label instead of annotation
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

use paasta_prefixed() for new label
  paasta_tools/kubernetes_tools.py
Due: none

make mypy happy
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.126.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

correctly stringify autoscaled label value
  paasta_tools/kubernetes_tools.py
Due: none

run pre-commit
  paasta_tools/kubernetes_tools.py
Due: none

update tests
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Update to check all status versions before setting state to stopped
  paasta_tools/cli/cmds/status.py
Due: none

Check version.replicas
  paasta_tools/cli/cmds/status.py
Due: none

Remove comment
  paasta_tools/cli/cmds/status.py
Due: none

Update get_actual_deployments to use deployments.json v2
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Add display step for confirmation
  paasta_tools/cli/schemas/deploy_schema.json
Due: none

Released 0.127.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use workload owners for workload contract labels
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Initial implementation
  paasta_tools/cli/cmds/push_to_registry.py
  paasta_tools/generate_deployments_for_service.py
  paasta_tools/utils.py
  tests/cli/test_cmds_push_to_registry.py
Due: patch-enforce-autospec

Remove -v arg
  paasta_tools/cli/cmds/push_to_registry.py
  tests/cli/test_cmds_push_to_registry.py
Due: patch-enforce-autospec

Address first round of review comments
  mypy.ini
  paasta_tools/cli/cmds/push_to_registry.py
  paasta_tools/generate_deployments_for_service.py
  paasta_tools/utils.py
  tests/cli/test_cmds_push_to_registry.py
Due: patch-enforce-autospec

Fix type annotation
  paasta_tools/generate_deployments_for_service.py
Due: none

Add initial autorollback file schema
  paasta_tools/cli/schemas/rollback_schema.json
Due: none

Add validation for autorollback config files
  paasta_tools/cli/cmds/validate.py
Due: none

Add tests for autorollback validation
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Refactor existing test
  tests/cli/test_cmds_check.py
Due: patch-enforce-autospec

Add some better typing
  paasta_tools/cli/cmds/validate.py
Due: none

Fix type annotation
  paasta_tools/utils.py
Due: none

Support additional version information in push-to-registry (#3345)
  mypy.ini
  paasta_tools/cli/cmds/push_to_registry.py
  paasta_tools/generate_deployments_for_service.py
  paasta_tools/utils.py
  tests/cli/test_cmds_push_to_registry.py
Due: patch-enforce-autospec

Support additional version information in cook-image
  mypy.ini
  paasta_tools/cli/cmds/cook_image.py
  tests/cli/test_cmds_cook_image.py
Due: patch-enforce-autospec

Update to check all status versions before setting state to stopped (#3341)
  paasta_tools/cli/cmds/status.py
Due: none

Released 0.127.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Support additional version information in cook-image (#3348)
  mypy.ini
  paasta_tools/cli/cmds/cook_image.py
  tests/cli/test_cmds_cook_image.py
Due: patch-enforce-autospec

improve healthcheck docs as post-moretem for 1520
  docs/source/yelpsoa_configs.rst
Due: none

Add image_version to dicts
  paasta_itests/steps/paasta_native_steps.py
  paasta_tools/utils.py
  tests/frameworks/test_adhoc_scheduler.py
  tests/frameworks/test_native_scheduler.py
  tests/test_kubernetes_tools.py
  tests/test_long_running_service_tools.py
  tests/test_marathon_tools.py
  tests/test_paasta_service_config_loader.py
  tests/test_utils.py
Due: patch-enforce-autospec

Fix mypy case
  paasta_tools/generate_deployments_for_service.py
Due: none

Support additional version information in generate-deployments-for-service
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/generate_deployments_for_service.py
  tests/cli/test_cmds_start_stop_restart.py
  tests/test_generate_deployments_for_service.py
Due: patch-enforce-autospec

Support additional version information in paasta status API calls
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/kubernetes_version.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Support additional version information in Kube list_deployments
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
  tests/test_setup_kubernetes_job.py
Due: patch-enforce-autospec

correct hyperlink for Sensu
  README.md
Due: none

Create a script that sets up paasta-internal custom resource definitions (not for operators run by other teams). COMPINFRA-1081
  mypy.ini
  paasta_tools/setup_kubernetes_internal_crd.py
Due: none

DRY setup_kubernetes_crd and setup_kubernetes_internal_crd
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_kubernetes_crd.py
  paasta_tools/setup_kubernetes_internal_crd.py
Due: none
