Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

Fix `paasta status` command printed while bounce is stuck
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Add util for getting production_deploy_group (#3369)
  paasta_tools/utils.py
Due: none

Released 0.132.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Update get_actual_deployments to use deployments.json v2"
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 0.132.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

COREML-3238 | fix tron tools spark test
  tests/test_tron_tools.py
Due: patch-enforce-autospec

COREML-3238 | bump up service_configuration_lib version to 2.10.5 (#3368)
  requirements.txt
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 0.132.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add --disable-aws-credential-env-variables to spark run cli for use in Spark v3.2
  paasta_tools/cli/cmds/spark_run.py
  requirements-minimal.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Add basic testing
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Keep active_shas in API
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/instance_bounce_status.py
  paasta_tools/paastaapi/model/instance_status_kubernetes.py
  paasta_tools/paastaapi/model/instance_status_marathon.py
  tests/api/test_instance.py
  tests/cli/test_cmds_wait_for_deployment.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

COMPINFRA-1092: Changes active_shas to active_versions and bundle image_version info
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/instance_bounce_status.py
  paasta_tools/paastaapi/model/instance_status_kubernetes.py
  paasta_tools/paastaapi/model/instance_status_marathon.py
  paasta_tools/utils.py
  tests/api/test_instance.py
  tests/cli/test_cmds_wait_for_deployment.py
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Clean-up 1
  paasta_tools/api/views/instance.py
  paasta_tools/instance/kubernetes.py
Due: none

Add --disable-aws-credential-env-variables to spark run cli for use in Spark v3.2 (#3372)
  paasta_tools/cli/cmds/spark_run.py
  requirements-minimal.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.132.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update get_config_hash function to include presence of boto_keys signature
  paasta_tools/kubernetes_tools.py
Due: none

Add active_versions to status APIs with image_version (#3365)
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/instance_bounce_status.py
  paasta_tools/paastaapi/model/instance_status_kubernetes.py
  paasta_tools/paastaapi/model/instance_status_marathon.py
  paasta_tools/utils.py
  tests/api/test_instance.py
  tests/cli/test_cmds_wait_for_deployment.py
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Add flink apis to paasta-api opi
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

Set PAASTA_ENV via Jenkinsfile
  Jenkinsfile
  Makefile
Due: none

tabs vs spaces.....
  Makefile
Due: none

Cleaning up makefile
  Makefile
Due: none

Update mark-for-deployment's wait-for-deployment components to use image_version Add TODOs for other locations needing image_version updates
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/wait_for_deployment.py
  tests/cli/test_cmds_mark_for_deployment.py
  tests/cli/test_cmds_wait_for_deployment.py
Due: patch-enforce-autospec

Add routes and sample test
  paasta_tools/api/api.py
  paasta_tools/api/views/flink.py
  paasta_tools/flink_tools.py
  tests/api/test_flink.py
Due: patch-enforce-autospec

Add tests for flink routes
  paasta_tools/api/views/flink.py
  tests/api/test_flink.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Add route to swagger
  paasta_tools/api/api_docs/swagger.json
Due: none

Add route to swagger
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/paastaapi/api/service_api.py
  tests/api/test_flink.py
Due: patch-enforce-autospec, check-oapi-schema

Fix some minor typing issues
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Update cmds.wait-for-deployment too
  paasta_tools/cli/cmds/wait_for_deployment.py
  paasta_tools/generate_deployments_for_service.py
  paasta_tools/utils.py
  tests/cli/test_cmds_wait_for_deployment.py
Due: patch-enforce-autospec

Status: write all available status objects
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
Due: none

Fix oapi and work status function
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
Due: check-oapi-schema

fix flink/flink tools tests
  paasta_tools/flink_tools.py
  tests/api/test_flink.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Fix comment
  paasta_tools/cli/cmds/wait_for_deployment.py
Due: none

Adapt print_flink_status to the paasta api
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Add missing job details route to api.py
  paasta_tools/api/api.py
Due: none

Add mocking for paasta config load
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Add --auto-set-temporary-credentials-provider to spark cli.
  paasta_tools/cli/cmds/spark_run.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Add --auto-set-temporary-credentials-provider to spark cli. (#3380)
  paasta_tools/cli/cmds/spark_run.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.132.5 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fix argparse for disabling temporary credential provider in spark cli
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Fix argparse for disabling temporary credential provider in spark cli (#3381)
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec
