Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Set spark.driverEnv.* as real env vars on driver container
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/spark_tools.py
  paasta_tools/tron_tools.py
  tests/test_spark_tools.py
Due: patch-enforce-autospec

remove mesos paths from tron_tools
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

setuptools 82.0.0 got rid of pkg_resources, so let's stop programmatically reading requirements-minimal.txt and just inline the contents to fix the build
  MANIFEST.in
  requirements-minimal.txt
  setup.py
Due: none

Switch from setup.py to pyproject.toml
  MANIFEST.in
  pyproject.toml
  setup.py
Due: none

try bumping nodeenv to fix pkg_resources issue
  requirements-dev.txt
  requirements-docs.txt
Due: none

Work around pkg_resources deprecation by inlining a yield_lines implementation into setup.py and updating nodeenv
  requirements-dev.txt
  requirements-docs.txt
  setup.py
Due: none

Implement memory autoscaling, with warnings in documentation about its applicability.
  docs/source/autoscaling.rst
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/autoscaling_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
  tests/cli/test_cmds_validate.py
  tests/test_kubernetes_tools.py
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

remove tron master config generation in validation
  paasta_tools/tron_tools.py
Due: none

Add spark env vars
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
Due: none

Work around pkg_resources deprecation by inlining a yield_lines implementation into setup.py and updating nodeenv (#4236)
  requirements-dev.txt
  requirements-docs.txt
  setup.py
Due: none

Add some interesting examples to the arbitrary-promql docs.
  docs/source/autoscaling.rst
Due: none

Support node_selector / node_selector_preferred on adhoc instances.
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/adhoc_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  tests/test_adhoc_tools.py
Due: patch-enforce-autospec

Call ensure_namespace in remote_run so that we can support services with only adhoc instances. COMPINFRA-5520
  paasta_tools/kubernetes/remote_run.py
  tests/kubernetes/test_remote_run.py
Due: patch-enforce-autospec

Remove check-requirements from tox.ini and update docs
  AGENTS.md
  tox.ini
Due: none

mock out load_system_paasta_config in utils as well so this test passes on GHA
  tests/test_adhoc_tools.py
Due: patch-enforce-autospec

Add functionality to set env vars for spark driver (#4231)
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
Due: none

Released 1.41.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

get rid of InstanceStatusCassandraclustereks
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/instance_status.py
  paasta_tools/paastaapi/model/instance_status_cassandraclustereks.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

fixes
  docs/source/generated/paasta_tools.cassandraclustereks_tools.rst
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_cassandraclustereks.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/check_cassandracluster_services_replication.py
  paasta_tools/paastaapi/model/instance_status_cassandraclustereks.py
  paasta_tools/paastaapi/models/__init__.py
  tests/test_utils.py
Due: patch-enforce-autospec, check-oapi-schema

fixes
  paasta_tools/cli/utils.py
Due: none

add cassandra eks support
  paasta_tools/cassandraclustereks_tools.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
  tests/test_cassandraclustereks_tools.py
Due: patch-enforce-autospec

Don't allow cpu burst for tron
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
Due: none

don't imply that you could scale based on the number in a different cluster
  docs/source/autoscaling.rst
Due: none

Released 1.42.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Don't allow cpu burst for tron (#4242)
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
Due: none

Released 1.43.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add cassandra eks support (#4233)
  docs/source/generated/paasta_tools.cassandraclustereks_tools.rst
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_cassandraclustereks.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cassandraclustereks_tools.py
  paasta_tools/check_cassandracluster_services_replication.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/instance_status.py
  paasta_tools/utils.py
  tests/test_cassandraclustereks_tools.py
  tests/test_utils.py
Due: patch-enforce-autospec, check-oapi-schema

Released 1.44.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_cassandraclustereks.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

add release instructions
  AGENTS.md
  README.md
Due: none

Revert "Released 1.44.0 via make release"
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_cassandraclustereks.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 1.43.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

status
  paasta_tools/cli/cmds/status.py
Due: none

allow skip_unique_instance_name_validation
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Fix PaaSTA status for CassandraClusters during EKS migration (#4244)
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 1.43.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fix UnboundLocalError in remote-run
  paasta_tools/cli/cmds/remote_run.py
Due: none

Fix bugs in paasta local-run's exec reuse code
  paasta_tools/paasta_execute_docker_command.py
  tests/test_paasta_execute_docker_command.py
Due: patch-enforce-autospec

small improvements to remote-run
  paasta_tools/cli/cmds/remote_run.py
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
