Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Delete sysdig subcommand, since it only works with marathon
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/sysdig.py
  tests/cli/test_cmds_sysdig.py
Due: patch-enforce-autospec

REMOVE ME: print hostname before running docker command
  paasta_tools/docker_wrapper.py
Due: none

REMOVE ME: print docker_run_cmd in local_run to stderr; send docker_wrapper debug printfs to stderr as well
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/docker_wrapper.py
Due: none

more prints
  general_itests/steps/shared_steps.py
  paasta_tools/cli/cmds/local_run.py
Due: patch-enforce-autospec

am I only seeing stderr?
  paasta_tools/cli/cmds/local_run.py
Due: none

What if I just make local_run fail with exit code 69
  paasta_tools/cli/cmds/local_run.py
Due: none

more flush, less early return
  paasta_tools/cli/cmds/local_run.py
Due: none

flush on the debug prints in docker_wrapper
  paasta_tools/docker_wrapper.py
Due: none

set progress_deadline_seconds if min_ready_seconds is more than 600
  paasta_tools/kubernetes_tools.py
Due: none

Forward Spark ports to Tron/task_proc
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
Due: none

whoops, forgot to commit this
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

cleanup, set to progress_deadline_seconds to more than min task uptime
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.125.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Set KubeDeployment replicas to None for autoscaled deployments
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Add verbose flag to paasta validate that displays next 5 cron runs scheduled.
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Function signature updates, comments, and style updates
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/utils.py
Due: none

Update signatures and arg order
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Set KubeDeployment replicas to None for autoscaled deployments (#3335)
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.125.5 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use label instead of annotation
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

add some missing workload contract labels
  paasta_tools/kubernetes_tools.py
Due: none

fix tests
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

mypy
  paasta_tools/kubernetes_tools.py
Due: none

Add timezone localization to verbose messaging.
  paasta_tools/cli/cmds/validate.py
Due: none

Update messaging for upcoming runs
  paasta_tools/cli/cmds/validate.py
Due: none

Add owner label, add deployment labels, deploy_group default label
  paasta_tools/kubernetes_tools.py
Due: none

Catch timeout issues in bounce_status and present less-drastic error message
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  tests/api/test_instance.py
  tox.ini
Due: patch-enforce-autospec

Throw alternate status code for temporary api error in bounce_status
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  tests/api/test_instance.py
  tests/cli/test_cmds_wait_for_deployment.py
Due: patch-enforce-autospec, check-oapi-schema

Forward Spark ports to Tron/task_proc (#3333)
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Revert "Forward Spark ports to Tron/task_proc (#3333)"
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Revert "Forward Spark ports to Tron/task_proc (#3333)" (#3338)
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Revert "Revert "Forward Spark ports to Tron/task_proc (#3333)" (#3338)"
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Bump croniter version to 1.3.4 to address leap year bug. Add function to get cron expression from TronJobConfig. Streamline logic for printing future cron runs.
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/utils.py
  paasta_tools/tron_tools.py
  requirements.txt
Due: none

Add test for leap year
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Add default timezone. Move replace call for cron schedule out of print_upcoming_runs. Add TODO for TRON-1746.
  paasta_tools/cli/cmds/validate.py
  paasta_tools/tron_tools.py
Due: none

Add verbose flag to paasta validate that displays next 5 cron runs sc… (#3336)
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/utils.py
  paasta_tools/tron_tools.py
  requirements.txt
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 0.126.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

unconditionally set owner for paasta
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

always set owner for tron
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
