Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

cleanup + bump some dependencies
  requirements-bootstrap.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements-minimal.txt
  requirements.txt
Due: none

remove paasta-tools build for xenial and bionic
  yelp_package/dockerfiles/bionic/Dockerfile
  yelp_package/dockerfiles/bionic/mesos-slave-secret
  yelp_package/dockerfiles/xenial/Dockerfile
  yelp_package/dockerfiles/xenial/mesos-slave-secret
  yelp_package/dockerfiles/xenial/requirements.txt
Due: none

Add a new endpoint to return the image url for a (service, deploy group)
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/service.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/container_image.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_service.py
Due: patch-enforce-autospec, check-oapi-schema

replace a_sync library
  paasta_tools/api/views/instance.py
  paasta_tools/api/views/resources.py
  paasta_tools/async_utils.py
  paasta_tools/cli/cmds/logs.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/contrib/get_running_task_allocation.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/mesos/task.py
  paasta_tools/mesos_tools.py
  paasta_tools/metrics/metastatus_lib.py
  pytest.ini
  requirements-minimal.txt
  requirements.txt
  tests/api/test_instance.py
  tests/api/test_resources.py
  tests/cli/test_cmds_mark_for_deployment.py
  tests/instance/test_kubernetes.py
  tests/test_async_utils.py
Due: patch-enforce-autospec

add use-sso-service-auth-token to spark-run
  paasta_tools/cli/authentication.py
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

switch to /v1/services/{service}/deployments/{deploy_group}
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/service.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/deployment_info.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_service.py
Due: patch-enforce-autospec, check-oapi-schema

ensure nullable + fix test
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/deployment_info.py
  tests/api/test_service.py
Due: patch-enforce-autospec, check-oapi-schema

Make moving_average_window_seconds at least >30s
  paasta_tools/cli/schemas/autoscaling_schema.json
Due: none

Actually, 60s min
  paasta_tools/cli/schemas/autoscaling_schema.json
Due: none

Add Claude Skill for adding a new PaaSTA API endpoint
  .claude/skills/paasta-api-endpoint/SKILL.md
  CLAUDE.md
Due: none

Released 1.37.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

add use-sso-service-auth-token to spark-run (#4213)
  paasta_tools/cli/authentication.py
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

Released 1.38.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

spark-run: long-lasting SSO token
  paasta_tools/cli/authentication.py
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/utils.py
Due: none

stop using pylint on the mesos dir
  requirements-dev-minimal.txt
  requirements-dev.txt
  requirements-docs.txt
  tox.ini
Due: none

Add a new endpoint to return deployment info for a (service, deploy group) (#4212)
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/service.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/deployment_info.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_service.py
Due: patch-enforce-autospec, check-oapi-schema

Released 1.39.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.deployment_info.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

validate remote-run cluster at parse time
  paasta_tools/cli/cmds/remote_run.py
  tests/cli/test_cmds_help.py
Due: patch-enforce-autospec

fix some english, and remove sso token from disk once spark-run is done
  paasta_tools/cli/authentication.py
  paasta_tools/cli/cmds/spark_run.py
Due: none

Released 1.39.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

use pipx to install virtualenv
  Makefile
Due: none

Add Claude Skill for adding a new PaaSTA API endpoint (#4215)
  .claude/skills/paasta-api-endpoint/SKILL.md
  CLAUDE.md
Due: none

spark-run: long-lasting SSO token (#4217)
  paasta_tools/cli/authentication.py
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/utils.py
Due: none

Released 1.40.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

upgrade argcomplete
  requirements-minimal.txt
  requirements.txt
  yelp_package/itest/tab_complete.sh
Due: none

fix the k8s_itests
  k8s_itests/deployments/paasta/fake_etc_paasta/volumes.json
  k8s_itests/docker-compose.yml
  k8s_itests/scripts/setup.sh
  k8s_itests/utils.py
Due: patch-enforce-autospec

Released 1.40.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Make arbitrary-promql easier to use.
  docs/source/autoscaling.rst
  paasta_tools/autoscaling/utils.py
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/autoscaling_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

remove mesos_tools import from tron_tools
  paasta_tools/broadcast_log_to_services.py
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Replace mention of prometheus_adapter_config with metrics_query, series_query, target_type, resources
  docs/source/yelpsoa_configs.rst
Due: none

Add tests for METRICS_PROVIDER_PROMQL in get_autoscaling_provider_spec
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 1.41.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

fixup! python3.12 upgrade
  requirements-minimal.txt
Due: none

add cassandra eks support
  paasta_tools/cassandraclustereks_tools.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
  tests/test_cassandraclustereks_tools.py
Due: patch-enforce-autospec

Fix arbitrary-promql metric naming bug by DRYing metric name construction
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

Released 1.41.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add documentation for SECRET() env vars and secret_volumes to yelpsoa-configs.rst
  docs/source/yelpsoa_configs.rst
Due: none

add agents advice for managing dependencies
  AGENTS.md
Due: none
