Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Enable topology spread constraints by default for tron
  paasta_tools/utils.py
Due: none

Enable topology spread constraints by default for tron (#3987)
  paasta_tools/utils.py
Due: none

Released 1.8.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use pod specific roles and service accounts
  paasta_tools/kubernetes_tools.py
  paasta_tools/paasta_remote_run_2.py
Due: none

Removal of remote-run service accounts and roles
  paasta_tools/kubernetes_tools.py
Due: none

Update schema to v7
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Refactor paasta logs filtering for performance
  paasta_tools/cli/cmds/logs.py
  requirements-minimal.txt
  requirements.txt
Due: none

Fix retrun None
  paasta_tools/cli/cmds/logs.py
Due: none

Fix reported target version in bounce status
  paasta_tools/cli/cmds/status.py
Due: none

Fix tests
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 1.8.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

PAASTA-18095: Block adding both a service_account_name and iam_role
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

s/V1beta1PodDisruptionBudget/V1PodDisruptionBudget/ for COMPINFRA-4409
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Add a test too
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Also fix tron schema
  paasta_tools/cli/schemas/tron_schema.json
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 1.9.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

COMPINFRA-1590: Initial socket mode support
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/slack.py
  requirements-minimal.txt
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

Clean up Vitess from PaaSTA
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/instance_status.py
  paasta_tools/paastaapi/model/instance_status_vitesscluster.py
  paasta_tools/paastaapi/models/__init__.py
  paasta_tools/setup_kubernetes_cr.py
  paasta_tools/utils.py
  paasta_tools/vitesscluster_tools.py
  tests/test_utils.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 1.10.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_vitesscluster.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.vitesscluster_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Cleanup paasta logs from tmp configs
  paasta_tools/cli/cmds/logs.py
  paasta_tools/utils.py
  tests/cli/test_cmds_logs.py
Due: patch-enforce-autospec

Add uses bulkdata argument to paasta spark run
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

add option to pass in iam_role config
  paasta_tools/contrib/service_shard_update.py
Due: none

Fix inconsistent spark driver and executor image
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

PAASTA-18479: Add list-namespaces tool
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/cli/cmds/list_namespaces.py
  paasta_tools/long_running_service_tools.py
  tests/cli/test_cmds_list_namespaces.py
Due: patch-enforce-autospec

Handle spark too
  paasta_tools/cli/cmds/list_namespaces.py
  tests/cli/test_cmds_list_namespaces.py
Due: patch-enforce-autospec

Stop referring to k8s.gcr.io
  example_cluster/dind-cluster-v1.13.sh
Due: none

Stop referring to k8s.gcr.io (#3998)
  example_cluster/dind-cluster-v1.13.sh
Due: none

Update paasta info for new paasta domains, remove dead dashboards
  paasta_tools/cli/cmds/info.py
  paasta_tools/utils.py
  tests/cli/test_cmds_info.py
  tests/cli/test_utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

Move testable service modes to reusable variable
  paasta_tools/cli/cmds/info.py
Due: none

Released 1.11.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.cli.cmds.list_namespaces.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Reject additional properties on autotune_limits to prevent them from breaking validation in the autotune jobs.
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Released 1.11.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Cleanup paasta logs from tmp configs (#3993)
  paasta_tools/cli/cmds/logs.py
  paasta_tools/utils.py
  tests/cli/test_cmds_logs.py
Due: patch-enforce-autospec

Use S3LogsReader from logreader package
  paasta_tools/cli/cmds/logs.py
  yelp_package/extra_requirements_yelp.txt
Due: none

Support for HTTP2 mode & updated SmartStack schema
  paasta_tools/cli/schemas/smartstack_schema.json
  paasta_tools/long_running_service_tools.py
Due: none

Refactor paasta logs filtering for performance (#3988)
  paasta_tools/cli/cmds/logs.py
  requirements-minimal.txt
  requirements.txt
Due: none

Use S3LogsReader from logreader package (#4001)
  paasta_tools/cli/cmds/logs.py
  yelp_package/extra_requirements_yelp.txt
Due: none

Released 1.11.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add docker registry url
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Switch to v4 of the artifact actions
  .github/workflows/ci.yml
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
