Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Released 0.129.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add more remote_run stuff
  paasta_tools/cli/cmds/k8s_remote_run.py
Due: none

Support additional version information in KubernetesDeploymentConfig (#3350)
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

Support additional version information in paasta status API calls (#3351)
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/kubernetes_version.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Support additional version information in TronJobConfig (#3358)
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 0.130.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Stop including smartstack by default in old paasta status, it is no longer running
  paasta_tools/api/views/instance.py
Due: none

Change format in generate-deployments-for-service
  paasta_tools/generate_deployments_for_service.py
  tests/test_generate_deployments_for_service.py
Due: patch-enforce-autospec

COREML-3095 | bump up service_configuration_lib version to 2.10.2
  requirements.txt
Due: none

Released 0.130.0 via make release
  debian/changelog
Due: none

Released 0.130.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Start with v1beta1 instead of v1 for internal CRDs.
  paasta_tools/setup_kubernetes_internal_crd.py
Due: none

Include setup_kubernetes_internal_crd in setup.py and debian/paasta-tools.links.
  debian/paasta-tools.links
  setup.py
Due: none

Use '+' instead of ':' in format
  paasta_tools/generate_deployments_for_service.py
  tests/test_generate_deployments_for_service.py
Due: patch-enforce-autospec

Show image-version in paasta status
  paasta_tools/cli/cmds/status.py
Due: none

Update deploy_schema.json to restrict deploy group names
  paasta_tools/cli/schemas/deploy_schema.json
Due: none

Try running apt-get update when building debs on GHA
  .github/workflows/ci.yml
Due: none

Fix broken links
  docs/source/installation/getting_started.rst
Due: none

COMPINFRA-1080: Update rollback to support new extra image metadata
  mypy.ini
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/rollback.py
  paasta_tools/cli/utils.py
  paasta_tools/deployment_utils.py
  paasta_tools/utils.py
  tests/cli/test_cmds_rollback.py
  tests/cli/test_utils.py
  tests/test_deployment_utils.py
Due: patch-enforce-autospec

Revert to html links
  docs/source/installation/getting_started.rst
Due: none

Update getting_started.rst
  docs/source/installation/getting_started.rst
Due: none

Keep status-quo as-is
  paasta_tools/cli/cmds/status.py
Due: none

Revert "Revert "Forward Spark ports to Tron/task_proc (#3333)" (#3338)" (#3339)
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 0.131.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add check for list of pools and get spark cost for emitted for jobs on k8s
  paasta_tools/cli/cmds/spark_run.py
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Fix tests
  paasta_tools/cli/cmds/spark_run.py
Due: none

Released 0.131.1 via make release
  debian/changelog
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.setup_kubernetes_internal_crd.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove changes related to pools
  paasta_tools/cli/cmds/spark_run.py
Due: none

Don't show progress in slack when not waiting for deployment. PAASTA-17585
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Released 0.131.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 0.131.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update git-tag format in generate-deployments-for-service (#3359)
  paasta_tools/generate_deployments_for_service.py
  tests/test_generate_deployments_for_service.py
Due: patch-enforce-autospec

Show image_version before version_name_suffix
  paasta_tools/cli/cmds/status.py
Due: none

Fix typo
  paasta_tools/cli/cmds/status.py
Due: none

Change field name
  paasta_tools/cli/cmds/status.py
Due: none

COREML-3238 | bump up service_configuration_lib version to 2.10.5
  requirements.txt
Due: none

Remove unnecessary comment, add todo for future no-commit redepoy verification
  paasta_tools/cli/cmds/rollback.py
Due: none

Released 0.132.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Show image-version in new paasta status (#3361)
  paasta_tools/cli/cmds/status.py
Due: none

Add util for getting production_deploy_group
  paasta_tools/utils.py
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
