Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        args: ['--target-version', 'py38']
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/PyCQA/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

Remove check_mesos_quorum
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.monitoring.check_mesos_quorum.rst
  docs/source/generated/paasta_tools.monitoring.rst
  paasta_tools/monitoring/check_mesos_quorum.py
  setup.py
  tests/monitoring/test_check_mesos_quorum.py
Due: patch-enforce-autospec

Remove assert_no_duplicate_frameworks, which was only used by check_mesos_duplicate_frameworks
  paasta_tools/metrics/metastatus_lib.py
  tests/metrics/test_metastatus_lib.py
Due: patch-enforce-autospec

Remove unused function assert_frameworks_exist
  paasta_tools/metrics/metastatus_lib.py
Due: none

Remove unused debian link for check_marathon_services_frontends
  debian/paasta-tools.links
Due: none

Delete deployd-related code from SystemPaastaConfig
  paasta_tools/utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

Delete dead code related to the (mesos) cluster autoscaler
  paasta_tools/utils.py
Due: none

Yelpy deps cleanup and extra pins
  yelp_package/extra_requirements_yelp.txt
Due: none

Updates from comments
  paasta_tools/cli/cmds/logs.py
Due: none

Fix mypy return value
  paasta_tools/cli/cmds/logs.py
Due: none

Delete code related to 'paasta boost', which hasn't worked in years.
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.autoscaling.load_boost.rst
  docs/source/generated/paasta_tools.autoscaling.rst
  docs/source/generated/paasta_tools.cli.cmds.boost.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  docs/source/generated/paasta_tools.paasta_cluster_boost.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/autoscaling/load_boost.py
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/boost.py
  paasta_tools/cli/utils.py
  paasta_tools/paasta_cluster_boost.py
  paasta_tools/utils.py
  setup.py
  tests/autoscaling/test_load_boost.py
  tests/cli/test_utils.py
  tests/test_paasta_cluster_boost.py
Due: patch-enforce-autospec

Released 1.0.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove unused system config key maintenance_resource_reservation_enabled
  paasta_tools/utils.py
Due: none

Remove unused mesos-related functions from cli/cmds/status.py
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Delete native_mesos_scheduler
  docs/source/generated/paasta_tools.native_mesos_scheduler.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/native_mesos_scheduler.py
  tests/test_native_mesos_scheduler.py
Due: patch-enforce-autospec

Delete paasta_maintenance script
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.paasta_maintenance.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/paasta_maintenance.py
  setup.py
  tests/test_paasta_maintenance.py
Due: patch-enforce-autospec

Delete cleanup_maintenance script
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.cleanup_maintenance.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/cleanup_maintenance.py
  setup.py
Due: none

Remove 'paasta metastatus', paasta_metastatus, and associated API endpoints
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.api.views.metastatus.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.cli.cmds.metastatus.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  docs/source/generated/paasta_tools.paasta_metastatus.rst
  docs/source/generated/paasta_tools.rst
  docs/source/installation/example_cluster.rst
  docs/source/system_configs.rst
  example_cluster/example-cluster-test.sh
  example_cluster/tests/check-metastatus.sh
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/metastatus.py
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/metastatus.py
  paasta_tools/cli/utils.py
  paasta_tools/paasta_metastatus.py
  paasta_tools/paastaapi/api/default_api.py
  paasta_tools/paastaapi/model/meta_status.py
  paasta_tools/paastaapi/models/__init__.py
  setup.py
  tests/cli/test_cmds_metastatus.py
  tests/cli/test_utils.py
  tests/test_mesos_maintenance.py
  tests/test_paasta_metastatus.py
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec, check-oapi-schema

Remove paasta_tools/contrib/utilization_check, which looks unused.
  docs/source/generated/paasta_tools.contrib.rst
  docs/source/generated/paasta_tools.contrib.utilization_check.rst
  paasta_tools/contrib/utilization_check.py
Due: none

Delete check_capacity
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.monitoring.check_capacity.rst
  docs/source/generated/paasta_tools.monitoring.rst
  paasta_tools/monitoring/check_capacity.py
  setup.py
  tests/monitoring/test_check_capacity.py
Due: patch-enforce-autospec

F Add noble package build
  debian/rules
  yelp_package/dockerfiles/noble/Dockerfile
  yelp_package/dockerfiles/noble/mesos-slave-secret
Due: none

F Add noble to GHA
  .github/workflows/ci.yml
Due: none

Released 1.0.1 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.meta_status.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Delete mesos_maintenance. Move MAINTENANCE_ROLE, the only thing imported from that module, to the place where it was imported.
  docs/source/generated/paasta_tools.mesos_maintenance.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/mesos_maintenance.py
  paasta_tools/metrics/metastatus_lib.py
Due: none

Remove paasta_native_serviceinit.py, which appears unused
  docs/source/generated/paasta_tools.paasta_native_serviceinit.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/paasta_native_serviceinit.py
Due: none

Delete autoscaling/forecasting.py, which was used for autoscaling on mesos
  docs/source/generated/paasta_tools.autoscaling.forecasting.rst
  docs/source/generated/paasta_tools.autoscaling.rst
  paasta_tools/autoscaling/forecasting.py
  tests/autoscaling/test_forecasting.py
Due: patch-enforce-autospec

Delete now-unused code from autoscaling_service_lib.py
  paasta_tools/autoscaling/autoscaling_service_lib.py
Due: none

Delete apparently-unused code relating to V1 deployments.json
  paasta_tools/utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

Delete unused methods from mesos_tools.py
  paasta_tools/mesos_tools.py
  tests/test_mesos_tools.py
Due: patch-enforce-autospec

Delete unused adhoc_scheduler.py
  paasta_tools/frameworks/adhoc_scheduler.py
  tests/frameworks/test_adhoc_scheduler.py
Due: patch-enforce-autospec

Delete unused code from metastatus_lib
  paasta_tools/metrics/metastatus_lib.py
  tests/metrics/test_metastatus_lib.py
Due: patch-enforce-autospec

Delete native_scheduler.py and code that was only used by native_scheduler.py
  docs/source/generated/paasta_tools.frameworks.native_scheduler.rst
  docs/source/generated/paasta_tools.frameworks.rst
  paasta_tools/frameworks/constraints.py
  paasta_tools/frameworks/native_scheduler.py
  paasta_tools/frameworks/native_service_config.py
  paasta_tools/frameworks/task_store.py
  tests/frameworks/test_constraints.py
  tests/frameworks/test_native_scheduler.py
  tests/frameworks/test_task_store.py
  tox.ini
Due: patch-enforce-autospec

Remove mesos code from paasta_tools/contrib/get_running_task_allocation.py
  paasta_tools/contrib/get_running_task_allocation.py
Due: none

Remove mesos code from broadcast_log_to_services
  paasta_tools/broadcast_log_to_services.py
  paasta_tools/tron_tools.py
Due: none

Remove mesos-related code from smartstack_tools
  paasta_tools/smartstack_tools.py
  tests/test_smartstack_tools.py
Due: patch-enforce-autospec

Remove kill_orphaned_docker_containers, which only worked for Mesos
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.monitoring.kill_orphaned_docker_containers.rst
  docs/source/generated/paasta_tools.monitoring.rst
  paasta_tools/monitoring/kill_orphaned_docker_containers.py
  setup.py
Due: none

Remove paasta_execute_docker_command script, but copy execute_in_container function to local_run which still uses it.
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.paasta_execute_docker_command.rst
  docs/source/generated/paasta_tools.rst
  general_itests/paasta_execute_docker_command.feature
  general_itests/steps/paasta_execute_docker_command.py
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/paasta_execute_docker_command.py
  setup.py
  tests/test_paasta_execute_docker_command.py
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

Delete paasta_firewall_logging, paasta_firewall_update, and now-unused code within firewall.py
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.firewall_logging.rst
  docs/source/generated/paasta_tools.firewall_update.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/firewall.py
  paasta_tools/firewall_logging.py
  paasta_tools/firewall_update.py
  setup.py
  tests/test_firewall.py
  tests/test_firewall_logging.py
  tests/test_firewall_update.py
Due: patch-enforce-autospec

Remove unused code from autoscaling/utils.py
  paasta_tools/autoscaling/utils.py
Due: none

Delete bounce_lib, which is now unused
  docs/source/generated/paasta_tools.bounce_lib.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/bounce_lib.py
  tests/test_bounce_lib.py
Due: patch-enforce-autospec

Delete some unused mesos-related SystemPaastaConfig methods
  paasta_tools/utils.py
Due: none
