Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

what are types
  paasta_tools/long_running_service_tools.py
Due: none

Make paasta secrets for teams available for multiple instance types
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/utils.py
Due: none

fixes after running tests
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/utils.py
Due: none

Fix renamed function
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

Add argument to sync specific secret type
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

Get signature including keys
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

Hard code mount_point
  paasta_tools/secret_providers/__init__.py
  paasta_tools/secret_providers/vault.py
Due: none

Change test signature
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

Typo
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

fix paasta secret test
  tests/cli/test_cmds_secret.py
Due: patch-enforce-autospec

add missing type annotation
  paasta_tools/cli/utils.py
Due: none

switch to using InstanceConfig get_env in util
  paasta_tools/cli/utils.py
Due: none

more type annotation
  paasta_tools/cli/utils.py
Due: none

Update signature for test
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

Allow spark-run to assume aws roles
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Allow setting PreferredDuringSchedulingIgnoredDuringExecution anti-affinity terms with anti_affinity_preferred key. (#3378)
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.167.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use properly formatted secret name in other namespaces + refactor to use get_kubernetes_secret_name everywhere we need to format the secret name
  paasta_tools/kubernetes_tools.py
  paasta_tools/tron_tools.py
Due: none

Show the k8s namespace in paasta status when there are multiple namespaces or multiple -v's.
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/kubernetes_version.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Add type annotations to all functions in paasta_tools/kubernetes/instance.py; add to mypy.ini so we ensure everything is typed in this file.
  mypy.ini
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
Due: none

Add quick-test makefile target which skips tox rebuilding, reruns only the last-failed tests, and quits on the first failure.
  Makefile
  paasta_tools/delete_kubernetes_deployments.py
  tests/test_delete_kubernetes_deployments.py
Due: patch-enforce-autospec

Include deployments from other namespaces in paasta status
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Add namespace selection for secrets based on prioritized namespaces
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/utils.py
  tests/cli/test_cmds_secret.py
  tests/cli/test_utils.py
Due: patch-enforce-autospec

secret namespace selection accounts for future individual paasta namespaces
  paasta_tools/cli/utils.py
  tests/cli/test_utils.py
Due: patch-enforce-autospec

Pass namespace when getting signature from k8s configmap
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.168.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

When determining which namespaces to query in the status API endpoint, only look at namespaces which have the paasta.yelp.com/managed=true label.
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
Due: none

Use paasta_prefixed when constructing label_selector in find_all_relevant_namespaces.
  paasta_tools/instance/kubernetes.py
Due: none

Catch ApiException on list_deployments in list_deployments_in_managed_namespaces, in case a namespace has the managed=true label but somehow doesn't have permissions for paasta-api to get deployments.
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.168.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Allow vault options override for paasta secret add and update
  paasta_tools/cli/cmds/secret.py
  tests/cli/test_cmds_secret.py
Due: patch-enforce-autospec

add support for systemd cgroup driver to oom_logger
  paasta_tools/oom_logger.py
  tests/test_oom_logger.py
Due: patch-enforce-autospec

Released 0.169.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

delete unnecessary 'pass' line
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.170.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Canonize getting k8s secrets and configmaps
  paasta_tools/cli/cmds/secret.py
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Remove unused arg
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

Do not sanitize service name; fix mock patches; rename arg to service_name
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/kubernetes_tools.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Lower limit for paasta secret volume name to 63 characters
  paasta_tools/kubernetes_tools.py
Due: none

Update helptext for spark-run aws args
  paasta_tools/cli/cmds/spark_run.py
Due: none
