Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

refactor: require override comment to exceed pool cpu limits
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Fix deployment filtering for same service Tron Actions
  paasta_tools/generate_deployments_for_service.py
Due: none

Fix deployment filtering for same service Tron Actions (#4396)
  paasta_tools/generate_deployments_for_service.py
Due: none

Released 1.60.14 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Change spark DNS pod template to spark executor pod template"
  paasta_tools/spark_tools.py
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Revert "Change spark DNS pod template to spark executor pod template" (#4397)
  paasta_tools/spark_tools.py
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.60.15 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Bump sticht version for a bugfix
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

Bump sticht to v2.1.1
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

Released 1.60.16 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove mesos from get_running_task_allocation and delete paasta_execute_docker_command
  general_itests/paasta_execute_docker_command.feature
  general_itests/steps/paasta_execute_docker_command.py
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/contrib/get_running_task_allocation.py
  paasta_tools/paasta_execute_docker_command.py
  setup.py
  tests/test_paasta_execute_docker_command.py
Due: patch-enforce-autospec

remove paasta_execute_docker_command from scripts list
  yelp_package/itest/ubuntu.sh
Due: none

Remove mesos resources API endpoint and generated client code
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/client.py
  paasta_tools/api/views/resources.py
  paasta_tools/paastaapi/api/resources_api.py
  paasta_tools/paastaapi/apis/__init__.py
  paasta_tools/paastaapi/model/resource.py
  paasta_tools/paastaapi/model/resource_item.py
  paasta_tools/paastaapi/model/resource_value.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_resources.py
Due: patch-enforce-autospec, check-oapi-schema

Delete hacheck-sidecar dir (#4388)
  yelp_package/dockerfiles/hacheck-sidecar/Dockerfile
  yelp_package/dockerfiles/hacheck-sidecar/Makefile
  yelp_package/dockerfiles/hacheck-sidecar/README
  yelp_package/dockerfiles/hacheck-sidecar/check_proxy_up.sh
  yelp_package/dockerfiles/hacheck-sidecar/check_smartstack_up.sh
  yelp_package/dockerfiles/hacheck-sidecar/hacheck.conf.yaml
Due: none

Use latest sticht version
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

Use latest sticht version (#4401)
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

Released 1.60.17 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update slack thread ini on_enter_rolled_back
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Bump sticht to show existing alerts + update docs
  docs/source/deploy_groups.rst
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

whoops, vimmed too harf
  requirements.txt
Due: none

Released 1.60.18 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update slack thread in on_enter_rolled_back (#4402)
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Released 1.60.19 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

add a separate alertmanager auto rollback delay
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

add test for auto rolback delay
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

updating paasta status
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

updating comment
  paasta_tools/cli/cmds/status.py
Due: none

Released 1.61.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.reconcile_paasta_service_accounts.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fix disable auto rollbacks button raising a TypeError
  paasta_tools/cli/cmds/mark_for_deployment.py
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Decouple auto_rollback and alertmanager_rollback toggles
  docs/source/deploy_groups.rst
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/schemas/deploy_schema.json
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_mark_for_deployment.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

Add aletmanager_auto_rollback_delay to the deploy schema and wiki
  docs/source/deploy_groups.rst
  paasta_tools/cli/schemas/deploy_schema.json
Due: none

refactoring based on comments
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Updating PaaSTA status to avoid confusion during deploys (#4405)
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 1.61.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none
