Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

TOOL-606: fix mark-for-deployment for CassandraClusterEKS resources (#4262)
  paasta_tools/cli/cmds/mark_for_deployment.py
  tests/cli/test_cmds_wait_for_deployment.py
Due: patch-enforce-autospec

Released 1.46.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

paasta status: fix output leaking after Ctrl+C
  paasta_tools/cli/cmds/status.py
Due: none

remove most sudo usages from spark-run
  paasta_tools/cli/cmds/spark_run.py
Due: none

Add some default request timeouts in check_services_replication_tools (#4251)
  paasta_tools/check_services_replication_tools.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 1.46.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Adding some extra context on the exit code
  paasta_tools/cli/cmds/status.py
Due: none

renaming CancellablePrinter to CancellableLock
  paasta_tools/cli/cmds/status.py
Due: none

renaming lock for printer (which makes more sense)
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

remove most sudo usages from spark-run (#4264)
  paasta_tools/cli/cmds/spark_run.py
Due: none

Released 1.47.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Bump vault-tools to 2.3.1
  yelp_package/extra_requirements_yelp.txt
Due: none

Released 1.47.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Support --sha for mfd+rollback since that's what's included in DeploymentVersions
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/rollback.py
Due: none

FLINK-5911: Add checkpoint counts to paasta status for Flink services
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_checkpoint_status.py
  paasta_tools/paastaapi/model/flink_checkpoint_status_counts.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Tighten checkpoint endpoint match in _filter_for_endpoint
  paasta_tools/flink_tools.py
Due: none

Simplify checkpoint filtering to direct key extraction
  paasta_tools/flink_tools.py
Due: none

Show 'unavailable' indicator when checkpoint data cannot be fetched
  paasta_tools/cli/cmds/status.py
Due: none

Add checkpoint endpoint to swagger.json spec
  paasta_tools/api/api_docs/swagger.json
Due: none

Update paasta_tools/api/views/flink.py
  paasta_tools/api/views/flink.py
Due: none

Update paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/status.py
Due: none

Remove unavailable indicator, use direct counts access
  paasta_tools/cli/cmds/status.py
Due: none

Fix missing FlinkCheckpointStatus import, restore f-string in view handler
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
Due: none

Update status.py
  paasta_tools/cli/cmds/status.py
Due: none

Fix mypy error: return type includes BaseException from gather
  paasta_tools/cli/cmds/status.py
Due: none

Mark checkpoint counts fields as required in API specs
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/flink_checkpoint_status_counts.py
Due: check-oapi-schema

remove references to read-only registry creds
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Address review feedback: protect timestamp parsing, add verbose=2 test
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

FLINK-5911: Add last restart timestamp to paasta status for Flink jobs
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/model/flink_job_details.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Add timestamps field to FlinkJobDetails in swagger.json
  paasta_tools/api/api_docs/swagger.json
Due: none

stop setting HOME when re-execing with sudo
  paasta_tools/cli/cmds/local_run.py
Due: none

correct wording in re-exec statement
  paasta_tools/cli/cmds/local_run.py
Due: none

Released 1.48.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.flink_checkpoint_status.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_checkpoint_status_counts.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

stop setting HOME when re-execing with sudo (#4273)
  paasta_tools/cli/cmds/local_run.py
Due: none

remove references to read-only registry creds (#4272)
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Released 1.48.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Mark FlinkJobDetails fields as required in API specs
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/flink_job_details.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec, check-oapi-schema

FLINK-5911: Refactor flink_tools - extract modular status helpers
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Released 1.49.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

FLINK-5911: Make timestamps optional in FlinkJobDetails
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/flink_job_details.py
Due: check-oapi-schema
