Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

Migrate to correct logger interface (#4066)
  paasta_tools/cli/cmds/logs.py
  paasta_tools/setup_istio_mesh.py
  paasta_tools/smartstack_tools.py
  paasta_tools/spark_tools.py
Due: none

Enable temporary min-bound autoscaling overrides
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/autoscaler_api.py
  paasta_tools/paastaapi/model/hpa_override.py
  paasta_tools/paastaapi/model/inline_object1.py
  paasta_tools/paastaapi/model/inline_response202.py
  paasta_tools/paastaapi/model/inline_response2021.py
  paasta_tools/paastaapi/models/__init__.py
  paasta_tools/setup_kubernetes_job.py
  tests/cli/test_cmds_autoscale.py
  tests/test_setup_kubernetes_job.py
Due: patch-enforce-autospec, check-oapi-schema

undo overzealous oapi changes
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/paastaapi/api/autoscaler_api.py
  paasta_tools/paastaapi/model/inline_object1.py
  paasta_tools/paastaapi/model/inline_response2021.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

missed a spot
  paasta_tools/api/api_docs/oapi.yaml
Due: check-oapi-schema

Allow explicitly None git_url to skip delpoyments
  paasta_tools/generate_deployments_for_service.py
Due: none

Allow nulls in git_url
  paasta_tools/cli/schemas/service_schema.json
Due: none

Bump service-configuration-lib to v3.3.1
  requirements-minimal.txt
  requirements.txt
Due: none

Fix tests
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Add --copy-file for remote-run
  paasta_tools/cli/cmds/remote_run.py
Due: none

Update paasta_tools/kubernetes_tools.py
  paasta_tools/kubernetes_tools.py
Due: none

move away from HPA naming outside of k8s files
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/paastaapi/api/autoscaler_api.py
  paasta_tools/paastaapi/model/autoscaling_override.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

Switch remote-run file copy to subprocess.run
  paasta_tools/cli/cmds/remote_run.py
Due: none

use oidc token method from vault-tools
  paasta_tools/cli/authentication.py
  requirements.txt
  tests/cli/test_authentication.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

Bump s-c-l to v3.3.2
  requirements-minimal.txt
  requirements.txt
Due: none

MLCOMPUTE-4648 | Bump service-configuration-lib to v3.3.2 (#4070)
  requirements-minimal.txt
  requirements.txt
  tests/test_tron_tools.py
Due: patch-enforce-autospec

use oidc token method from vault-tools (#4072)
  paasta_tools/cli/authentication.py
  requirements.txt
  tests/cli/test_authentication.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

Released 1.21.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

hardcoding strings is bad
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_kubernetes_job.py
Due: none

replace debug hardcode
  paasta_tools/setup_kubernetes_job.py
Due: none

whoops
  paasta_tools/api/views/autoscaler.py
Due: none

Enable temporary min-bound autoscaling overrides (#4068)
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/autoscaler_api.py
  paasta_tools/paastaapi/model/autoscaling_override.py
  paasta_tools/paastaapi/model/inline_response202.py
  paasta_tools/paastaapi/models/__init__.py
  paasta_tools/setup_kubernetes_job.py
  tests/cli/test_cmds_autoscale.py
  tests/test_setup_kubernetes_job.py
Due: patch-enforce-autospec, check-oapi-schema

Released 1.22.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.autoscaling_override.rst
  docs/source/generated/paasta_tools.paastaapi.model.inline_response202.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

add jira-ticket parameter to spark-run
  paasta_tools/cli/cmds/spark_run.py
Due: none

update service_configuration_lib version
  requirements-minimal.txt
  requirements.txt
Due: none

Add better error handling for 403s in remote-run
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/remote_run.py
Due: none

bump service-configuration-lib to 3.3.3 and add tests
  paasta_tools/cli/cmds/spark_run.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Add openapi changes for 403 response in remote-run
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/paastaapi/api/remote_run_api.py
  paasta_tools/paastaapi/model/inline_response403.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

Handle terminating remote-run pods
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/kubernetes/remote_run.py
Due: none

Add 409 to api_docs and remote unneeded kubectl exec flag
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/remote_run.py
Due: check-oapi-schema

Fix remote-run test
  tests/kubernetes/test_remote_run.py
Due: patch-enforce-autospec

Spell carriage correctly
  paasta_tools/cli/cmds/remote_run.py
Due: none

FLINK-5725: Update yelp region -> ecosystem mapping logic
  paasta_tools/cli/cmds/status.py
  paasta_tools/utils.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

FLINK-5725: Downgrade environment-tools
  requirements-minimal.txt
  requirements.txt
Due: none

FLINK-5725: Mock convert_location_type return
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Adding idempotent label to Tron pods
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

convert boolean label value to string
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.23.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

fix mypy test
  paasta_tools/tron_tools.py
Due: none
