Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Updated yelpsoa documentation
  docs/source/yelpsoa_configs.rst
Due: none

removed trailing whitespaces
  docs/source/yelpsoa_configs.rst
Due: none

Handle progressbar deprecation warning (maxval -> max_value) (#4153)
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Fix some invalid escape sequence warnings by upgrading rfc3987 (#4154)
  requirements.txt
Due: none

Upgrade docker-py to a modern version (#4158)
  general_itests/steps/paasta_execute_docker_command.py
  paasta_tools/utils.py
  requirements-minimal.txt
  requirements.txt
Due: patch-enforce-autospec

Correctly merge fields in autotune (#4166)
  paasta_tools/contrib/paasta_update_soa_memcpu.py
Due: none

Released 1.35.5 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Refactor comment-based validation opt-out code
  paasta_tools/cli/cmds/validate.py
Due: none

Refactor comment-based validation opt-out code (#4170)
  paasta_tools/cli/cmds/validate.py
Due: none

Released 1.35.6 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Strip trailing `/` in --service to handle directory tab-complete
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/cli/cmds/check.py
  paasta_tools/cli/cmds/cook_image.py
  paasta_tools/cli/cmds/get_docker_image.py
  paasta_tools/cli/cmds/get_image_version.py
  paasta_tools/cli/cmds/get_latest_deployment.py
  paasta_tools/cli/cmds/info.py
  paasta_tools/cli/cmds/itest.py
  paasta_tools/cli/cmds/list_namespaces.py
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/cli/cmds/logs.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/mesh_status.py
  paasta_tools/cli/cmds/push_to_registry.py
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/cli/cmds/rollback.py
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/cmds/security_check.py
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/cmds/wait_for_deployment.py
  paasta_tools/cli/utils.py
  paasta_tools/generate_deployments_for_service.py
Due: none

Strip trailing `/` in --service to handle directory tab-complete (#4171)
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/cli/cmds/check.py
  paasta_tools/cli/cmds/cook_image.py
  paasta_tools/cli/cmds/get_docker_image.py
  paasta_tools/cli/cmds/get_image_version.py
  paasta_tools/cli/cmds/get_latest_deployment.py
  paasta_tools/cli/cmds/info.py
  paasta_tools/cli/cmds/itest.py
  paasta_tools/cli/cmds/list_namespaces.py
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/cli/cmds/logs.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/mesh_status.py
  paasta_tools/cli/cmds/push_to_registry.py
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/cli/cmds/rollback.py
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/cmds/security_check.py
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/cmds/wait_for_deployment.py
  paasta_tools/cli/utils.py
  paasta_tools/generate_deployments_for_service.py
Due: none

Upgrade urllib3 to remove a couple warnings about deprecations (#4159)
  requirements.txt
Due: none

Released 1.35.7 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

remove some mesos-isms from local-run
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_local_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Handle missing Envoy metrics for active-requests scaling
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

this needs some labels...
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

typo
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

add setup_namespace_services
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.setup_istio_mesh.rst
  docs/source/generated/paasta_tools.setup_smartstack_namespace_k8s_svcs.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/smartstack_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_istio_mesh.py
  paasta_tools/setup_smartstack_namespace_k8s_svcs.py
  setup.py
  tests/test_kubernetes_tools.py
  tests/test_setup_istio_mesh.py
  tests/test_setup_smartstack_namespace_k8s_svcs.py
Due: patch-enforce-autospec

FLINK: Remove/Address redundant comments
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

FLINK: Remove redundant arg
  paasta_tools/flink_tools.py
Due: none

FLINK: Update comments
  paasta_tools/cli/cmds/status.py
Due: none

FLINK: Refactor to use FlinkJobDetailsDict
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

FLINK: Refactor tests
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Update paasta_tools/flink_tools.py
  paasta_tools/flink_tools.py
Due: none

Update paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/status.py
Due: none

FLINK: fix formatting
  paasta_tools/cli/cmds/status.py
Due: none

Fix type error and whitespace in flink status output
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Upgrade PaaSTA Playground to support Python 3.10 and update related configurations
  Makefile
  docs/source/paasta_development.rst
  k8s_itests/scripts/containerd_registry_setup.py
  k8s_itests/scripts/set-paasta-registry-credentials.sh
  paasta_tools/contrib/ide_helper.py
  requirements-dev.txt
Due: patch-enforce-autospec

Fix typo in requirements-dev.txt: change 'tomli_w' to 'tomli-w'
  requirements-dev.txt
Due: none

Add tomli-w to requirements-dev-minimal.txt
  requirements-dev-minimal.txt
Due: none

Add a restart replica option
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/models/__init__.py
  paasta_tools/run-paasta-api-in-dev-mode.py
Due: check-oapi-schema

Released 1.35.8 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 1.36.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Merge pull request #4151 from Yelp/timma/upgrade_spark_configuration_lib_to_3.3.7"
  requirements-minimal.txt
  requirements.txt
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Revert "Merge pull request #4151 from Yelp/timma/upgrade_spark_configuration_lib_to_3.3.7" (#4174)
  requirements-minimal.txt
  requirements.txt
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.36.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 1.36.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
