Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Do not run file-based oapi check during itests
  paasta_tools/contrib/check_manual_oapi_changes.sh
Due: none

Removing completer_clusters for pods
  paasta_tools/cli/cmds/logs.py
Due: none

Add a soa-configs flag for use_resource_metrics, to toggle the k8s-built-in resource metrics for CPU autoscaling. PAASTA-17320
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
Due: none

PAASTA-17287: Add per-replica state to new paasta status
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/instance_status_kubernetes_v2.py
  paasta_tools/paastaapi/model/kubernetes_container_v2.py
  paasta_tools/paastaapi/models/__init__.py
  tests/cli/test_cmds_status.py
  tests/conftest.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Revert "Merge branch 'u/kawaiwan/make-prom-signalflow-use-ready-pods' of github.com:Yelp/paasta"
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

Released 0.97.92 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Revert "Merge branch 'u/kawaiwan/make-prom-signalflow-use-ready-pods' of github.com:Yelp/paasta""
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

Wrap ready_pods query in sum(...) by (kube_deployment) so it has the same labels as the count() in missing_instances. PAASTA-17220
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

In make release: add files before committing, because passing ../docs/source/generated as an argument to commit doesn't result in new files being committed.
  yelp_package/Makefile
Due: none

Released 0.97.93 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.kubernetes_container_v2.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Enforcing to specify one cluster AND one instance when running paasta logs
  general_itests/steps/tail_paasta_logs.py
  paasta_tools/cli/cmds/logs.py
  tests/cli/test_cmds_logs.py
Due: patch-enforce-autospec

Removing missed commas
  general_itests/steps/tail_paasta_logs.py
  paasta_tools/cli/cmds/logs.py
Due: patch-enforce-autospec

Add dry-run mode for sensu event sending, and add arg in check_oom_events for it
  paasta_tools/check_oom_events.py
  paasta_tools/monitoring_tools.py
Due: none

Widen replication check scripts dry-run arg to stop emitting metrics as well
  paasta_tools/check_services_replication_tools.py
  paasta_tools/monitoring_tools.py
  tests/test_check_service_replication_tools.py
  tests/test_monitoring_tools.py
Due: patch-enforce-autospec

Move bulk of context in replication alerts from output to description, reducing the former to a minimum, so that there is space in Slack for runbook and tip
  paasta_tools/check_flink_services_health.py
  paasta_tools/monitoring_tools.py
  tests/test_check_flink_services_health.py
  tests/test_monitoring_tools.py
Due: patch-enforce-autospec

Add default runbook and tip for replication alerts
  paasta_tools/monitoring_tools.py
  tests/test_monitoring_tools.py
Due: patch-enforce-autospec

Add tip for oom events to follow the runbook
  paasta_tools/check_oom_events.py
Due: none

Add dry-run arg for Sensu events in replication check scripts
  paasta_tools/check_flink_services_health.py
  paasta_tools/check_kubernetes_services_replication.py
  paasta_tools/check_marathon_services_replication.py
  paasta_tools/check_services_replication_tools.py
  paasta_tools/monitoring_tools.py
  tests/test_check_flink_services_health.py
  tests/test_check_kubernetes_services_replication.py
  tests/test_check_marathon_services_replication.py
  tests/test_check_service_replication_tools.py
  tests/test_monitoring_tools.py
Due: patch-enforce-autospec

Don't fail if one of replication info source isn't available
  paasta_tools/smartstack_tools.py
  tests/test_smartstack_tools.py
Due: patch-enforce-autospec

Released 0.97.94 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Handle all errors while checking getting replication info
  paasta_tools/smartstack_tools.py
Due: none

Released 0.97.95 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Make new paasta status for service instances work with StatefulSets in addition to ReplicaSets
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/instance_status_kubernetes_v2.py
  paasta_tools/paastaapi/model/kubernetes_version.py
  paasta_tools/paastaapi/models/__init__.py
  tests/cli/test_cmds_status.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Add autoscaling, events, logs, and healthcheck info to new status endpoint
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/instance_status_kubernetes_v2.py
  paasta_tools/paastaapi/model/kubernetes_container_v2.py
  paasta_tools/paastaapi/model/kubernetes_pod_v2.py
Due: check-oapi-schema

PAASTA-17322: Catch TimeoutErrors when fetching events and clean up kubernetes_tools event utils
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

If DEFAULT_USE_PROMETHEUS_UWSGI is true, run uwsgi_exporter when use_prometheus is unspecified.
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.97.96 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.kubernetes_replica_set_v2.rst
  docs/source/generated/paasta_tools.paastaapi.model.kubernetes_version.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

MESH-1091 Add envoy and proxy sidecars for Appmesh POC
  paasta_tools/kubernetes_tools.py
Due: none

Add links to internal docs (#3064)
  README.md
Due: none

Released 0.97.97 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Set default for use_signalfx to False. PAASTA-17097.
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.97.98 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove SignalFX-related HPA code. PAASTA-17097
  paasta_tools/cli/cmds/status.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  paasta_tools/utils.py
Due: none

Paasta Validate - Validates max_instances is higher than min_instances in a service.
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Add api route for getting service instance mesh info
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/instance_mesh_status.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

Add subcommand for getting mesh status only for service instances
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/mesh_status.py
Due: none

Add unit tests for new paasta mesh-status command
  paasta_tools/cli/cmds/mesh_status.py
  paasta_tools/instance/kubernetes.py
  tests/api/test_instance.py
  tests/cli/test_cmds_mesh_status.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

pyupgrade 3.7
  .pre-commit-config.yaml
Due: none

Fix tests
  tests/test_docker_wrapper.py
  tests/test_generate_deployments_for_service.py
  tests/test_secret_tools.py
Due: patch-enforce-autospec

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
