Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

make get_kubernetes_app_deploy_status no longer async since it is a pure function
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fix test_paasta_validate_calls_everything failure
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

MONK-2327 Add pod management policy support to StatefuleSets
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.97.99 via make release
  debian/changelog
  docs/source/generated/paasta_tools.cli.cmds.mesh_status.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  docs/source/generated/paasta_tools.paastaapi.model.instance_mesh_status.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

MONK-2327 Fix make itest
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fixing the doc inconsistency
  docs/source/yelpsoa_configs.rst
Due: none

Add prometheus_port and a pod annotation to allow overriding in Prometheus relabel config
  paasta_tools/kubernetes_tools.py
Due: none

Add release info to k8s task allocation
  paasta_tools/contrib/get_running_task_allocation.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Add new bounce_status endpoint with minimum information needed for mark_for_deployment --watch
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/instance_bounce_status.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_instance.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.98.00 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.instance_bounce_status.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Annotation values my be strings
  paasta_tools/kubernetes_tools.py
Due: none

Remove typo
  paasta_tools/kubernetes_tools.py
Due: none

Released 0.98.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use str instead of Any for strings
  paasta_tools/kubernetes_tools.py
Due: none

Use TypedDict for podspec labels and annotations
  paasta_tools/kubernetes_tools.py
Due: none

Update autoscaling.rst to focus on Kubernetes autoscaling. PAASTA-17333
  docs/source/autoscaling.rst
Due: none

Update kubernetes-{cluster}.yaml autoscaling documentation. PAASTA-17333
  docs/source/yelpsoa_configs.rst
Due: none

Update pyyaml to 5.4.1 for CLoader support internally
  requirements.txt
Due: none

RMade error message clearer and concise, and removed link to paasta contract.
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Make docs reflect that good_enough_window is unsupported currently.
  docs/source/autoscaling.rst
Due: none

Released 0.99.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Delete setup_marathon_job, deployd, and other things that import setup_marathon_job.
  debian/paasta-tools.links
  mypy.ini
  paasta_itests/bounces.feature
  paasta_itests/paasta_deployd.feature
  paasta_itests/setup_marathon_job.feature
  paasta_itests/static_port.feature
  paasta_itests/steps/bounces_steps.py
  paasta_itests/steps/paasta_deployd_steps.py
  paasta_itests/steps/setup_marathon_job_steps.py
  paasta_tools/api/views/deploy_queue.py
  paasta_tools/contrib/add_to_deploy_queue.py
  paasta_tools/deploy_marathon_services
  paasta_tools/deployd/__init__.py
  paasta_tools/deployd/common.py
  paasta_tools/deployd/leader.py
  paasta_tools/deployd/master.py
  paasta_tools/deployd/metrics.py
  paasta_tools/deployd/queue.py
  paasta_tools/deployd/watchers.py
  paasta_tools/deployd/workers.py
  paasta_tools/graceful_app_drain.py
  paasta_tools/setup_marathon_job.py
  setup.py
  tests/api/test_deploy_queue.py
  tests/deployd/test_common.py
  tests/deployd/test_deployd_master.py
  tests/deployd/test_leader.py
  tests/deployd/test_metrics.py
  tests/deployd/test_queue.py
  tests/deployd/test_watchers.py
  tests/deployd/test_workers.py
  tests/test_bounce_lib.py
  tests/test_setup_marathon_job.py
  tox.ini
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

Remove most of autoscaling_service_lib
  debian/paasta-tools.links
  paasta_itests/autoscaling_service.feature
  paasta_itests/steps/autoscaling_service_steps.py
  paasta_tools/api/views/instance.py
  paasta_tools/autoscale_all_services.py
  paasta_tools/autoscaling/autoscaling_service_lib.py
  setup.py
  tests/api/test_instance.py
  tests/autoscaling/test_autoscaling_service_lib.py
  tests/test_autoscale_all_services.py
  yelp_package/dockerfiles/mesos-paasta/cron.d/autoscale_services
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

Remove cleanup_marathon_jobs
  debian/paasta-tools.links
  paasta_itests/cleanup_marathon_job.feature
  paasta_itests/steps/cleanup_marathon_job_steps.py
  paasta_tools/cleanup_marathon_jobs.py
  setup.py
  tests/test_cleanup_marathon_jobs.py
  yelp_package/dockerfiles/mesos-paasta/cron.d/cleanup_marathon_jobs
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

Remove check_marathon_services_replication
  debian/paasta-tools.links
  paasta_tools/check_marathon_services_replication.py
  setup.py
  tests/test_check_marathon_services_replication.py
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

cleanup stray deployd-related script
  paasta_tools/contrib/check_deployd_leader_election.sh
Due: none

Remove list_marathon_service_instances and several marathon-related itest features
  debian/paasta-tools.links
  paasta_itests/marathon.feature
  paasta_itests/paasta_api.feature
  paasta_itests/paasta_metastatus.feature
  paasta_itests/steps/marathon_steps.py
  paasta_tools/list_marathon_service_instances.py
  setup.py
  tests/test_list_marathon_service_instances.py
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

Remove check_marathon_has_apps
  debian/paasta-tools.links
  paasta_tools/monitoring/check_marathon_has_apps.py
  setup.py
  tests/monitoring/test_check_marathon_has_apps.py
Due: patch-enforce-autospec

Remove marathon_dashboard.py and marathon_dashboard API endpoint
  paasta_itests/paasta_api.feature
  paasta_itests/steps/paasta_api_steps.py
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/client.py
  paasta_tools/api/views/marathon_dashboard.py
  paasta_tools/marathon_dashboard.py
  paasta_tools/paastaapi/api/marathon_dashboard_api.py
  paasta_tools/paastaapi/apis/__init__.py
  paasta_tools/paastaapi/model/marathon_dashboard.py
  paasta_tools/paastaapi/model/marathon_dashboard_cluster.py
  paasta_tools/paastaapi/model/marathon_dashboard_item.py
  paasta_tools/paastaapi/models/__init__.py
  setup.py
  tests/api/test_marathon_dashboard_api.py
  tests/test_marathon_dashboard.py
Due: patch-enforce-autospec, check-oapi-schema

Remove delete_old_marathon_deployments
  paasta_tools/contrib/delete_old_marathon_deployments.py
  yelp_package/dockerfiles/mesos-paasta/cron.d/delete_old_marathon_deployments
Due: none

Remove marathon-related objects from API swagger schema
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/instance_status.py
  paasta_tools/paastaapi/model/instance_status_marathon.py
  paasta_tools/paastaapi/model/marathon_app_status.py
  paasta_tools/paastaapi/model/marathon_autoscaling_info.py
  paasta_tools/paastaapi/model/marathon_mesos_nonrunning_task.py
  paasta_tools/paastaapi/model/marathon_mesos_running_task.py
  paasta_tools/paastaapi/model/marathon_mesos_status.py
  paasta_tools/paastaapi/model/marathon_task.py
  paasta_tools/paastaapi/models/__init__.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec, check-oapi-schema

Run make docs
  docs/source/generated/paasta_tools.api.views.deploy_queue.rst
  docs/source/generated/paasta_tools.api.views.marathon_dashboard.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.autoscale_all_services.rst
  docs/source/generated/paasta_tools.check_marathon_services_replication.rst
  docs/source/generated/paasta_tools.cleanup_marathon_jobs.rst
  docs/source/generated/paasta_tools.contrib.add_to_deploy_queue.rst
  docs/source/generated/paasta_tools.contrib.delete_old_marathon_deployments.rst
  docs/source/generated/paasta_tools.contrib.rst
  docs/source/generated/paasta_tools.deployd.common.rst
  docs/source/generated/paasta_tools.deployd.leader.rst
  docs/source/generated/paasta_tools.deployd.master.rst
  docs/source/generated/paasta_tools.deployd.metrics.rst
  docs/source/generated/paasta_tools.deployd.queue.rst
  docs/source/generated/paasta_tools.deployd.rst
  docs/source/generated/paasta_tools.deployd.watchers.rst
  docs/source/generated/paasta_tools.deployd.workers.rst
  docs/source/generated/paasta_tools.graceful_app_drain.rst
  docs/source/generated/paasta_tools.list_marathon_service_instances.rst
  docs/source/generated/paasta_tools.marathon_dashboard.rst
  docs/source/generated/paasta_tools.monitoring.check_marathon_has_apps.rst
  docs/source/generated/paasta_tools.monitoring.rst
  docs/source/generated/paasta_tools.paastaapi.api.marathon_dashboard_api.rst
  docs/source/generated/paasta_tools.paastaapi.api.rst
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_marathon.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_app_status.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_autoscaling_info.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_dashboard.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_dashboard_cluster.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_dashboard_item.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_mesos_nonrunning_task.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_mesos_running_task.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_mesos_status.rst
  docs/source/generated/paasta_tools.paastaapi.model.marathon_task.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.setup_marathon_job.rst
Due: none

Remove some extra marathon-related docs
  docs/source/deploy_marathon_services.rst
  docs/source/upgrading_marathon.rst
  paasta_tools/api/client.py
Due: none

Remove all marathon-related paasta_itests features and steps that I can see
  paasta_itests/capacity_check.feature
  paasta_itests/docker-compose.yml
  paasta_itests/environment.py
  paasta_itests/itest_utils.py
  paasta_itests/paasta_api.feature
  paasta_itests/paasta_metastatus.feature
  paasta_itests/steps/marathon_steps.py
  paasta_itests/steps/paasta_api_steps.py
  paasta_itests/steps/paasta_metastatus_steps.py
  paasta_itests/steps/setup_steps.py
  tox.ini
  yelp_package/dockerfiles/itest/marathon/Dockerfile
Due: patch-enforce-autospec

Remove marathon-related configs and check for example_cluster
  example_cluster/docker-compose.override.yml
  example_cluster/paasta/dashboard_links.json
  example_cluster/paasta/marathon.json
  example_cluster/tests/check-api.sh
Due: none

remove deployd reference from mypy.ini
  mypy.ini
Due: none

Remove marathon schema, fix tests that required marathon schema to work on kubernetes schema instead
  paasta_tools/cli/schemas/autotuned_defaults/marathon_schema.json
  paasta_tools/cli/schemas/marathon_schema.json
  tests/cli/test_cmds_validate.py
  tests/test_config_utils.py
Due: patch-enforce-autospec

Remove marathon support from autoscaler api endpoint
  paasta_tools/api/views/autoscaler.py
  tests/api/test_autoscaler.py
Due: patch-enforce-autospec

Remove marathon support from api/views/instance.py
  paasta_tools/api/views/instance.py
  tests/api/test_instance.py
Due: patch-enforce-autospec

Remove marathon-related bounce_lib code
  paasta_tools/bounce_lib.py
  tests/test_bounce_lib.py
Due: patch-enforce-autospec
