Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Remove check_spark_jobs, which only worked on Mesos
  docs/source/generated/paasta_tools.check_spark_jobs.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/check_spark_jobs.py
  setup.py
  tests/test_check_spark_jobs.py
Due: patch-enforce-autospec

Remove a bunch of unused code from mesos_tools
  paasta_tools/mesos_tools.py
  tests/test_mesos_tools.py
Due: patch-enforce-autospec

Remove resources.utilization API endpoint, since this only ever worked on Mesos
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/client.py
  paasta_tools/api/views/resources.py
  paasta_tools/paastaapi/api/resources_api.py
  paasta_tools/paastaapi/apis/__init__.py
  tests/api/test_resources.py
Due: patch-enforce-autospec, check-oapi-schema

Remove DeploymentsJsonV1 references from general_itests
  general_itests/deployments_json.feature
  general_itests/steps/deployments_json_steps.py
Due: patch-enforce-autospec

Move suffixed_number_value to kubernetes_tools, delete the rest of metastatus_lib.py
  docs/source/generated/paasta_tools.metrics.metastatus_lib.rst
  docs/source/generated/paasta_tools.metrics.rst
  paasta_tools/check_autoscaler_max_instances.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/metrics/metastatus_lib.py
  tests/metrics/test_metastatus_lib.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fix deployments_json-related general_itests
  general_itests/deployments_json.feature
  general_itests/steps/deployments_json_steps.py
  general_itests/steps/local_run_steps.py
Due: patch-enforce-autospec

Delete more unused code from mesos_tools.py
  paasta_tools/mesos_tools.py
  tests/test_mesos_tools.py
Due: patch-enforce-autospec

Remove all remote-run/paasta_remote_run code, since it only worked on Mesos.
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.cli.cmds.remote_run.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  docs/source/generated/paasta_tools.paasta_remote_run.rst
  docs/source/generated/paasta_tools.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/log_task_lifecycle_events.py
  paasta_tools/paasta_remote_run.py
  paasta_tools/utils.py
  setup.py
  tests/api/test_instance.py
Due: patch-enforce-autospec

Delete log_task_lifecycle_events since this looks like it only works with Mesos
  docs/source/generated/paasta_tools.log_task_lifecycle_events.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/log_task_lifecycle_events.py
  setup.py
Due: none

Remove mesos_tools since it is no longer imported anywhere
  docs/source/generated/paasta_tools.mesos_tools.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/mesos_tools.py
  tests/test_mesos_tools.py
Due: patch-enforce-autospec

Remove unused method get_volumes_from_spark_mesos_configs
  paasta_tools/spark_tools.py
Due: none

Remove the last import of paasta_tools.mesos, and delete all of paasta_tools/mesos and associated tests
  paasta_tools/api/views/instance.py
  paasta_tools/mesos/__init__.py
  paasta_tools/mesos/cfg.py
  paasta_tools/mesos/cluster.py
  paasta_tools/mesos/exceptions.py
  paasta_tools/mesos/framework.py
  paasta_tools/mesos/log.py
  paasta_tools/mesos/master.py
  paasta_tools/mesos/mesos_file.py
  paasta_tools/mesos/parallel.py
  paasta_tools/mesos/slave.py
  paasta_tools/mesos/task.py
  paasta_tools/mesos/util.py
  paasta_tools/mesos/zookeeper.py
  tests/mesos/test_cluster.py
  tests/mesos/test_master.py
  tox.ini
Due: patch-enforce-autospec

Remove mesos-related code from utils.py
  paasta_tools/utils.py
  tests/test_firewall.py
  tests/test_utils.py
Due: patch-enforce-autospec

Remove drain_lib and all references, since this is not used for Kubernetes.
  docs/source/generated/paasta_tools.drain_lib.rst
  docs/source/generated/paasta_tools.rst
  docs/source/installation/getting_started.rst
  docs/source/yelpsoa_configs.rst
  general_itests/steps/http_drain_method_steps.py
  mypy.ini
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/drain_lib.py
  paasta_tools/long_running_service_tools.py
  tests/test_drain_lib.py
  yelp_package/dockerfiles/itest/httpdrain/Dockerfile
  yelp_package/dockerfiles/itest/httpdrain/httpdrain.py
Due: patch-enforce-autospec

Delete unused mesos-related methods in api/views/instance.py
  paasta_tools/api/views/instance.py
  tests/api/test_instance.py
Due: patch-enforce-autospec

Remove some mesos-only methods from InstanceConfig
  paasta_tools/utils.py
Due: none

Remove more paasta native framework stuff
  docs/source/generated/paasta_tools.frameworks.native_service_config.rst
  docs/source/generated/paasta_tools.frameworks.rst
  example_cluster/paasta/native.json
  paasta_tools/frameworks/native_service_config.py
  paasta_tools/utils.py
  tests/test_utils.py
  yelp_package/dockerfiles/itest/mesos/mesos-secrets
Due: patch-enforce-autospec

Remove run_on_master method, which is now unused
  paasta_tools/cli/utils.py
Due: none

Pin request in k8s_itests
  tox.ini
Due: none

Enable gradual migration for paasta logs readers
  paasta_tools/cli/cmds/logs.py
  paasta_tools/utils.py
  tests/cli/test_cmds_logs.py
Due: patch-enforce-autospec

Update typing
  paasta_tools/utils.py
Due: none

Update SystemPaastaConfigDict for mypy
  paasta_tools/utils.py
Due: none

Deleting mesos_options from tron_tools
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Pin requests in requirements-minimal
  requirements-minimal.txt
  tox.ini
Due: none

Released 1.0.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update paasta_tools/check_autoscaler_max_instances.py
  paasta_tools/check_autoscaler_max_instances.py
Due: none

DO NOT MERGE, testing code
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/generate_all_deployments
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

Rename config item
  paasta_tools/cli/cmds/logs.py
  paasta_tools/utils.py
  tests/cli/test_cmds_logs.py
Due: patch-enforce-autospec

clean up code from old autoscaling config
  paasta_tools/cli/schemas/autoscaling_schema.json
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/eks_tools.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paasta_service_config_loader.py
Due: none

Add support for VitessCluster CRs on EKS
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
  paasta_tools/vitessclustereks_tools.py
  tests/test_vitessclustereks_tools.py
Due: patch-enforce-autospec

Released 1.0.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

paasta validate: allow duplicate instance names for nrtsearchservice(eks)
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 1.0.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

add script to enumerate services performing authentication
  paasta_tools/generate_authenticating_services.py
  paasta_tools/generate_services_file.py
  paasta_tools/generate_services_yaml.py
  paasta_tools/utils.py
  setup.py
  tests/test_generate_authenticating_services.py
  tests/test_generate_services_file.py
  tests/test_generate_services_yaml.py
Due: patch-enforce-autospec

Move git sha validation in paasta rollback to after printing all deploy groups if no commit is provided
  paasta_tools/cli/cmds/rollback.py
Due: none

Released 1.0.5 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

bump service-configurations-lib to v2.18.18
  requirements-minimal.txt
  requirements.txt
Due: none

Update description for spark-run options
  paasta_tools/cli/cmds/spark_run.py
Due: none

Released 1.1.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.generate_authenticating_services.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

link generate_authenticating_services in debian package
  debian/paasta-tools.links
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
