Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

endpoint alert schema
  docs/source/yelpsoa_configs.rst
Due: none

add --use-service-auth-token option to spark-run
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 1.4.28 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fix the timestamps errors in the failed tests (#3942)
  tests/cli/test_cmds_status.py
  tox.ini
Due: patch-enforce-autospec

Changing timezone to be UTC for test request logger
  tests/api/tweens/test_request_logger.py
Due: patch-enforce-autospec

Update docs/source/yelpsoa_configs.rst
  docs/source/yelpsoa_configs.rst
Due: none

Revert "Fix a test failure"
  tests/test_utils.py
Due: patch-enforce-autospec

Revert "Fix tests and reduce code redundancy"
  paasta_tools/vitesscell_tools.py
  paasta_tools/vitesscluster_tools.py
  paasta_tools/vitesskeyspace_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Revert "Add separate fileprefix handlers for vitess crs"
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/setup_kubernetes_cr.py
  paasta_tools/utils.py
  paasta_tools/vitesscell_tools.py
  paasta_tools/vitesscluster_tools.py
  paasta_tools/vitesskeyspace_tools.py
Due: none

Released 1.4.29 via make release
  debian/changelog
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.vitesscell_tools.rst
  docs/source/generated/paasta_tools.vitesskeyspace_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

tron: update schema for bulkdata + correctly pass extra volumes
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Add lifecycle hooks for cloudmap (de)registration operations on vtgate pods
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Use the right cloudmap service name for primary tablets
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Released 1.4.30 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Leave existing uses_bulkdata toggle location in schema
  paasta_tools/cli/schemas/tron_schema.json
Due: none

tron: update schema for bulkdata + correctly pass extra volumes (#3948)
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.4.31 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Implement stop/stop/restart for vitess_k8s components
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/vitesscluster_tools.py
  tests/instance/test_kubernetes.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Remove unnecessary uses_bulkdata entry from tron schema
  paasta_tools/cli/schemas/tron_schema.json
Due: none

Bump service-configuration-lib to 2.18.22 to reduce logspam + IO
  requirements-minimal.txt
  requirements.txt
Due: none

Bump service-configuration-lib to 2.18.22 to reduce logspam + IO (#3952)
  requirements-minimal.txt
  requirements.txt
Due: none

Released 1.4.32 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Bump service-configuration-lib to 2.18.22 to reduce logspam + IO (#3952)"
  requirements-minimal.txt
  requirements.txt
Due: none

Revert "Bump service-configuration-lib to 2.18.22 to reduce logspam + IO (#3952)" (#3953)
  requirements-minimal.txt
  requirements.txt
Due: none

Released 1.4.33 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Cleaning up Mesos from paasta readthedocs
  docs/source/about/glossary.rst
  docs/source/about/paasta_principles.rst
  docs/source/about/smartstack_interaction.rst
  docs/source/contributing.rst
  docs/source/generated/paasta_tools.rst
  docs/source/installation/example_cluster.rst
  docs/source/installation/getting_started.rst
  docs/source/isolation.rst
  docs/source/soa_configs.rst
  docs/source/style_guide.rst
  docs/source/system_configs.rst
  docs/source/workflow.rst
  docs/source/yelpsoa_configs.rst
Due: none

additional endpoint schema
  paasta_tools/cli/schemas/smartstack_schema.json
Due: none

PAASTA-18194: Add all_namespaces flag to paasta status api endpoint
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
  tests/instance/test_kubernetes.py
  tox.ini
Due: patch-enforce-autospec, check-oapi-schema

remove namespace_alert
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/smartstack_schema.json
Due: none

Attempt to batch config loading for tron deployments
  paasta_tools/setup_tron_namespace.py
  paasta_tools/tron/client.py
Due: none

Remove unused forecasting.py and test_forecasting.py
  docs/source/generated/paasta_tools.autoscaling.forecasting.rst
  docs/source/generated/paasta_tools.autoscaling.rst
  paasta_tools/autoscaling/forecasting.py
  tests/autoscaling/test_forecasting.py
Due: patch-enforce-autospec

Remove unused autoscaling_component stuff, now that forecast_policy is gone. PAASTA-18298
  paasta_tools/autoscaling/utils.py
Due: none

Remove references to forecast_policy from test_kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Remove forecast_policy from autoscaling_schema. PAASTA-18298
  paasta_tools/cli/schemas/autoscaling_schema.json
Due: none

Remove references to decision_policy: bespoke, and update some docs around decision_policy to be a little more accurate.
  docs/source/autoscaling.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
Due: none

dev api also needs update to swagger.json?
  paasta_tools/api/api_docs/swagger.json
Due: none

Add all_namespaces to paasta status cli as well
  paasta_tools/cli/cmds/status.py
Due: none

DREIMP-10951: autoscale vtgate deployments using HPA
  paasta_tools/setup_kubernetes_cr.py
  paasta_tools/vitesscluster_tools.py
Due: none

rename Scalable to Vtgate
  paasta_tools/vitesscluster_tools.py
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
