Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

Released 0.207.7 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

do not reuse execs with podman
  paasta_tools/paasta_execute_docker_command.py
  tests/test_paasta_execute_docker_command.py
Due: patch-enforce-autospec

Released 0.207.8 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

MLCOMPUTE-1068 | logic for using duplicate iam role with eks suffix
  paasta_tools/tron_tools.py
Due: none

wip
  paasta_tools/cli/cmds/spark_run.py
Due: none

MLCOMPUTE-1098 | fix error in parsing user spark args
  paasta_tools/cli/cmds/spark_run.py
Due: none

MLCOMPUTE-1098 | add tests
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.207.9 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

MLCOMPUTE-1035 Update dnsPolicy
  paasta_tools/cli/cmds/spark_run.py
Due: none

MLCOMPUTE-1035 Update dnsPolicy (#3742)
  paasta_tools/cli/cmds/spark_run.py
Due: none

Released 0.207.10 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Secret validation now take into account service: override.
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Add suggestions from review
  paasta_tools/cli/cmds/validate.py
Due: none

Add service to InstanceConfigDict definition
  paasta_tools/utils.py
Due: none

Update paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/cmds/validate.py
Due: none

Released 0.207.11 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add readthedocs v2 config file, update to py38, and fix requirements
  .readthedocs.yaml
  requirements-docs.txt
Due: none

Add small test to show this works
  tests/test_config_utils.py
Due: patch-enforce-autospec

Add support for setting lower/upper-bounds for autotuned resources
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/config_utils.py
  paasta_tools/contrib/rightsizer_soaconfigs_update.py
Due: none

Use kubernetes' brutal rolloutstrategy instead of deleting and recreating
  paasta_tools/kubernetes/application/controller_wrappers.py
  tests/kubernetes/application/test_controller_wrapper.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Implement monitoring check which alerts when a service is at max_instances. PAASTA-18103
  paasta_tools/check_autoscaler_max_instances.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  setup.py
Due: none

Document max_instances_alert_threshold and add it to the kubernetes.yaml schema. Also document offset while I'm editing this file.
  docs/source/autoscaling.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Make it possible to specify topology_spread_constraints per service/instance. PAASTA-18132
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Clean up 'old' paasta status
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Use pysensu_yelp constants instead of magic numbers
  paasta_tools/check_autoscaler_max_instances.py
Due: none

Delete unnecessary monitoring overrides from check_autoscaler_max_instances
  paasta_tools/check_autoscaler_max_instances.py
Due: none

Released 0.207.12 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Address review feedback
  paasta_tools/config_utils.py
  paasta_tools/contrib/rightsizer_soaconfigs_update.py
  tests/test_config_utils.py
Due: patch-enforce-autospec

add missing types
  paasta_tools/config_utils.py
Due: none

Add support for setting lower/upper-bounds for autotuned resources (#3744)
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/config_utils.py
  paasta_tools/contrib/rightsizer_soaconfigs_update.py
  tests/test_config_utils.py
Due: patch-enforce-autospec

Released 0.208.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Also check for 'canary' in the instance name when skipping max_instances check for things that have min=max.
  paasta_tools/check_autoscaler_max_instances.py
Due: none

Released 0.209.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.check_autoscaler_max_instances.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

remove use_k8s deprecated flag
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Have 'paasta validate' check autotuned_defaults/ files against their own schemas.
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/autotuned_defaults/marathon_schema.json
  paasta_tools/cli/schemas/marathon_schema.json
Due: none

Remove paasta performance-check
  docs/source/deploy_groups.rst
  docs/source/generated/paasta_tools.cli.cmds.performance_check.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/performance_check.py
  paasta_tools/utils.py
  tests/cli/test_cmds_performance_check.py
  tests/test_utils.py
  yelp_package/itest/ubuntu.sh
Due: patch-enforce-autospec

Fix tests, remove old status dupes
  tests/api/test_instance.py
  tests/cli/test_cmds_status.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Add missing symlink for check_autoscaler_max_instances
  debian/paasta-tools.links
Due: none

Set include_smartstack default to False since we no longer support it in our environment
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
Due: check-oapi-schema

Released 0.209.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none
