Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Add soa_dir arg to verbose logging
  paasta_tools/cli/cmds/validate.py
Due: none

Move TODO and add description
  paasta_tools/cli/cmds/validate.py
Due: none

Add soa_dir arg to verbose logging (#3392)
  paasta_tools/cli/cmds/validate.py
Due: none

Released 0.133.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use image_version in existing tests
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Change sha to short-sha
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/utils.py
Due: none

Remove done TODOs
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Address first round of review comments
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/utils.py
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Use image_version in m-f-d
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/utils.py
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Fix itests
  general_itests/steps/deployments_json_steps.py
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: patch-enforce-autospec

handle envoy admin timeout
  paasta_tools/envoy_tools.py
Due: none

[FLINK-4114] Remove job-related output from paasta status
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Enable spark.sql.adaptive.enabled to true for all spark jobs
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

COMPINFRA-1248: update get-latest-deployment
  paasta_tools/cli/cmds/get_latest_deployment.py
  tests/cli/test_cmds_get_latest_deployment.py
Due: patch-enforce-autospec

Fix constant for bounce
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fix mypy issue
  paasta_tools/kubernetes_tools.py
Due: none

Address latest round of review comments
  paasta_tools/cli/cmds/mark_for_deployment.py
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Add image_version to context
  general_itests/steps/deployments_json_steps.py
Due: patch-enforce-autospec

MLCOMPUTE-23 | improved logging
  paasta_tools/cli/cmds/spark_run.py
Due: none

Use image-version in mark-for-deployment (#3379)
  general_itests/steps/deployments_json_steps.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/utils.py
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Released 0.133.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

COMPINFRA-582, fix node selector label for tron and paasta
  paasta_tools/contrib/get_running_task_allocation.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/tron_tools.py
Due: none

COMPINFRA-582, fix test failing for node selectors
  tests/test_kubernetes_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

COMPINFRA-582, fix tests for tron
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Adding a new argument -a for all deploy groups and corresponding test
  paasta_tools/cli/cmds/rollback.py
  paasta_tools/cli/utils.py
  tests/cli/test_cmds_rollback.py
Due: patch-enforce-autospec

Remove mentions of norcal-prod
  docs/source/adhoc_instances.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/cli/cmds/metastatus.py
  paasta_tools/cli/cmds/pause_service_autoscaler.py
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/marathon_dashboard.py
Due: none

Remove mentions of norcal-prod (#3397)
  docs/source/adhoc_instances.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/cli/cmds/metastatus.py
  paasta_tools/cli/cmds/pause_service_autoscaler.py
  paasta_tools/cli/cmds/secret.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/utils.py
  paasta_tools/marathon_dashboard.py
Due: none

Released 0.133.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

[FLINK-4085] Gracefully handle non-running flink cluster states
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Get Flink cluster status via JM API (#3377)
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Revert "Get Flink cluster status via JM API (#3377)"
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Revert "Get Flink cluster status via JM API (#3377)" (#3398)
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

[FLINK-4097] Gracefully handle non-running flink cluster states
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Enable starting arbitrary # of paasta-api workers
  paasta_tools/api/api.py
  paasta_tools/utils.py
Due: none

Use argparse argument instead of paasta config
  paasta_tools/api/api.py
Due: none

actually remove
  paasta_tools/utils.py
Due: none

undo sort
  paasta_tools/utils.py
Due: none

Adjust log string
  paasta_tools/cli/cmds/spark_run.py
Due: none

Enable starting arbitrary # of paasta-api workers (#3400)
  paasta_tools/api/api.py
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
