Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Update Jenkinsfile
  Jenkinsfile
Due: none

Expose --cluster-manager=local for spark-run command.
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/spark_tools.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Simplify some logic on spark-run docker volume handling.
  paasta_tools/cli/cmds/spark_run.py
Due: none

Style cleanup.
  paasta_tools/cli/cmds/spark_run.py
Due: none

Expose --cluster-manager=local for spark-run command. (#3424)
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/spark_tools.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.139.0 via make release
  debian/changelog
Due: none

Change regex logic to accomodate multiline comment
  paasta_tools/cli/cmds/validate.py
Due: none

Released 0.139.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

MESH-1452: update dockerfile for hacheck
  yelp_package/Makefile
  yelp_package/dockerfiles/hacheck-sidecar/Dockerfile
Due: none

MLCOMPUTE-36 | fix tests
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

MLCOMPUTE-36 | code formatting
  paasta_tools/cli/cmds/spark_run.py
Due: none

[FLINK-4124] Small fix to display status info
  paasta_tools/cli/cmds/status.py
Due: none

missing returncode in CPU override
  paasta_tools/cli/cmds/validate.py
Due: none

adds unit tests for cpu override validation
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

change validate cpu autotune test name
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Use execlp instead of execlpe
  paasta_tools/cli/cmds/spark_run.py
Due: none

Fix environment variable issue
  paasta_tools/cli/cmds/spark_run.py
Due: none

Add unit tests for execlpe
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Fix doc comment
  paasta_tools/cli/cmds/spark_run.py
Due: none

Run internal tests on jenkins-k8s
  Jenkinsfile
  paasta_itests/README.md
  paasta_itests/autoscaling_service.feature
  paasta_itests/capacity_check.feature
  paasta_itests/docker-compose.yml
  paasta_itests/environment.py
  paasta_itests/hacheck.feature
  paasta_itests/itest_utils.py
  paasta_itests/marathon.feature
  paasta_itests/paasta_api.feature
  paasta_itests/paasta_metastatus.feature
  paasta_itests/paasta_native.feature
  paasta_itests/paasta_native_task_store.feature
  paasta_itests/paasta_remote_run.feature
  paasta_itests/steps/autoscaling_service_steps.py
  paasta_itests/steps/bounces_steps.py
  paasta_itests/steps/cleanup_marathon_job_steps.py
  paasta_itests/steps/hacheck_steps.py
  paasta_itests/steps/marathon_steps.py
  paasta_itests/steps/paasta_api_steps.py
  paasta_itests/steps/paasta_metastatus_steps.py
  paasta_itests/steps/paasta_native_steps.py
  paasta_itests/steps/paasta_native_task_store_steps.py
  paasta_itests/steps/setup_steps.py
  tox.ini
Due: patch-enforce-autospec

[FLINK-4124] Small fix to display status info (#3425)
  paasta_tools/cli/cmds/status.py
Due: none

Released 0.139.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

modify CPU_AUTOTUNE regex to be more flexible
  paasta_tools/cli/cmds/validate.py
Due: none

Released 0.139.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove leftover toxenv
  tox.ini
Due: none

Revert "[FLINK-4124] Small fix to display status info (#3425)"
  paasta_tools/cli/cmds/status.py
Due: none

Revert commit 9156a0f
  paasta_tools/cli/cmds/status.py
Due: none

Revert "[FLINK-4097] Get Flink cluster status via JM API (#3418)"
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.139.4 via make release
  debian/changelog
  docs/source/generated/paasta_tools.api.views.flink.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_cluster_overview.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_config.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job_details.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_jobs.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

print status for each instance dont wait for clstr
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

test jenkins job
  Jenkinsfile
Due: none

remove regex from clone
  Jenkinsfile
Due: none

explicit tag
  Jenkinsfile
Due: none

add fetchtags
  Jenkinsfile
Due: none

git checkout tagname
  Jenkinsfile
Due: none

get commit sha of version
  Jenkinsfile
Due: none

get latest commit sha
  Jenkinsfile
Due: none

Migrate from apiextensions.k8s.io/v1beta1 to apiextensions.k8s.io/v1
  paasta_tools/setup_kubernetes_internal_crd.py
Due: none

Updating based on krall's comments
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 0.139.4 via make release
  debian/changelog
  docs/source/generated/paasta_tools.api.views.flink.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_cluster_overview.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_config.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job_details.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_jobs.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  requirements.txt
  yelp_package/Makefile
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
