Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Remove resources.utilization
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/client.py
  paasta_tools/api/views/resources.py
  paasta_tools/paastaapi/api/resources_api.py
  paasta_tools/paastaapi/apis/__init__.py
  tests/api/test_resources.py
Due: patch-enforce-autospec, check-oapi-schema

Delete stupid comments added by roocode
  tests/metrics/test_metastatus_lib.py
Due: patch-enforce-autospec

Delete metastatus_lib.py, moving suffixed_number_value to utils
  paasta_tools/check_autoscaler_max_instances.py
  paasta_tools/metrics/metastatus_lib.py
  paasta_tools/utils.py
  tests/metrics/test_metastatus_lib.py
  tests/test_utils.py
Due: patch-enforce-autospec

Clean up unused --scheduler parameter from get_running_task_allocation.py
  paasta_tools/contrib/get_running_task_allocation.py
Due: none

Put back old execute_in_container function, but fix a bug that can happen if something besides paasta creates an exec before paasta does.
  paasta_tools/cli/cmds/local_run.py
Due: none

Remove linting of now-deleted code.
  tox.ini
Due: none

Move steps from previously-deleted general_itests/steps/paasta_execute_docker_command.py to general_itests/steps/local_run_steps.py to fix itests
  general_itests/paasta_execute_docker_command.feature
Due: none

Move steps from previously-deleted general_itests/steps/paasta_execute_docker_command.py to general_itests/steps/local_run_steps.py to fix itests
  general_itests/steps/local_run_steps.py
Due: patch-enforce-autospec

Upgrade paasta to python 3.10 (#4065)
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  Makefile
  contrib/python-k8s-client.diff
  debian/control
  debian/rules
  mypy.ini
  paasta_tools/api/tweens/auth.py
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/contrib/bounce_log_latency_parser.py
  paasta_tools/contrib/ide_helper.py
  paasta_tools/contrib/mock_patch_checker.py
  paasta_tools/contrib/render_template.py
  paasta_tools/contrib/shared_ip_check.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/mesos/master.py
  paasta_tools/metrics/metastatus_lib.py
  paasta_tools/remote_git.py
  paasta_tools/run-paasta-api-in-dev-mode.py
  paasta_tools/run-paasta-api-playground.py
  paasta_tools/yaml_tools.py
  requirements-dev-minimal.txt
  requirements-dev.txt
  requirements-minimal.txt
  requirements.txt
  tests/test_kubernetes_tools.py
  tests/test_setup_kubernetes_job.py
  tests/test_task_processing.py
  tox.ini
  yelp_package/dockerfiles/jammy/Dockerfile
  yelp_package/dockerfiles/noble/Dockerfile
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

Released 1.28.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Set additionalProperties: false on autotune_limits to prevent accidental introduction of the wrong keys.
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Correct autotune_limits docs
  docs/source/yelpsoa_configs.rst
Due: none

Released 1.28.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Bump logreader to 1.3.0
  yelp_package/extra_requirements_yelp.txt
Due: none

Switch default spark user from mrjob to spark_driver
  paasta_tools/utils.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 1.28.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

fix mrjob reference in unit tests
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Update paasta_tools/setup_kubernetes_job.py
  paasta_tools/setup_kubernetes_job.py
Due: none

Enable conditional setting of unhealthyPodEvictionPolicy on PDBs
  paasta_tools/instance/hpa_metrics_parser.py
  paasta_tools/kubernetes/remote_run.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
  requirements-minimal.txt
  requirements.txt
  tests/kubernetes/test_remote_run.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

remote-run: add option to pass command, and follow logs
  paasta_tools/api/views/remote_run.py
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/kubernetes/remote_run.py
  tests/cli/test_cmds_remote_run.py
  tests/kubernetes/test_remote_run.py
Due: patch-enforce-autospec

fix aactivator link for py310
  .activate.sh
Due: none

Released 1.28.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Support --to-pod for toolboxes
  paasta_tools/cli/cmds/remote_run.py
Due: none

Add support for copying files from remote-run pods
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/kubernetes/remote_run.py
Due: none

Add basic test for remote run copy
  paasta_tools/cli/cmds/remote_run.py
  tests/cli/test_cmds_remote_run.py
Due: patch-enforce-autospec

fix /tmp/ prefixing for remote-run copy
  paasta_tools/cli/cmds/remote_run.py
Due: none

Released 1.29.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Minor cleanup of timeout-related smartstack.yaml docs
  docs/source/yelpsoa_configs.rst
Due: none

Fix doc requirements and build target
  docs/source/generated/paasta_tools.api.rst
  docs/source/generated/paasta_tools.api.tweens.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.autoscaling.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  docs/source/generated/paasta_tools.cli.fsm.rst
  docs/source/generated/paasta_tools.cli.rst
  docs/source/generated/paasta_tools.contrib.rst
  docs/source/generated/paasta_tools.frameworks.rst
  docs/source/generated/paasta_tools.instance.rst
  docs/source/generated/paasta_tools.kubernetes.application.rst
  docs/source/generated/paasta_tools.kubernetes.bin.rst
  docs/source/generated/paasta_tools.kubernetes.rst
  docs/source/generated/paasta_tools.mesos.rst
  docs/source/generated/paasta_tools.metrics.rst
  docs/source/generated/paasta_tools.monitoring.rst
  docs/source/generated/paasta_tools.paastaapi.api.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.paastaapi.rst
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.secret_providers.rst
  docs/source/generated/paasta_tools.tron.rst
  docs/source/yelpsoa_configs.rst
  requirements-docs.txt
  tox.ini
Due: none

Support adhoc instances in remote-run
  paasta_tools/kubernetes/remote_run.py
Due: none

Update paasta_tools/cli/cmds/remote_run.py
  paasta_tools/cli/cmds/remote_run.py
Due: none

Fix tests and add comments for remote-run copy
  paasta_tools/cli/cmds/remote_run.py
  tests/cli/test_cmds_remote_run.py
Due: patch-enforce-autospec

Update load_eks_or_adhoc_deployment defaults and add assertion
  paasta_tools/kubernetes/remote_run.py
Due: none

Some refactoring of remote-run cli
  paasta_tools/cli/cmds/remote_run.py
Due: none

Merge w/ changes from support_adhoc_instance_remote_run
  paasta_tools/cli/cmds/remote_run.py
Due: none

Fix remote-run test
  tests/cli/test_cmds_remote_run.py
Due: patch-enforce-autospec

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
