Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

[local-run] Conditionally set MESOS env vars + unmangle docker hostname (#3205)
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/docker_wrapper.py
  tests/test_docker_wrapper.py
Due: patch-enforce-autospec

Add env key (#3206)
  paasta_tools/contrib/service_shard_update.py
Due: none

Released 0.108.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Make pre-restart container output available for recent restarts in paasta status -vv
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/kubernetes_container_v2.py
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Rename last_tail_lines to previous_tail_lines
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/kubernetes_container_v2.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Addressing comments
  paasta_tools/cli/cmds/spark_run.py
Due: none

format podtemplate as const
  paasta_tools/cli/cmds/spark_run.py
Due: none

update pre-commit hooks
  paasta_tools/cli/cmds/spark_run.py
Due: none

update precommit hooks
  paasta_tools/cli/cmds/spark_run.py
Due: none

attempt to fix tests
  paasta_tools/cli/cmds/spark_run.py
Due: none

fix tests
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

add comma to fix tests
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

addressing comments
  paasta_tools/cli/cmds/spark_run.py
Due: none

disabling autogen in test
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.109.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update test_cmds_spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

linting
  paasta_tools/cli/cmds/spark_run.py
Due: none

linting
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Auto generate pod template for pod affinity with weights specified by the user [COREML-2557] (#3203)
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Ensure paasta.yelp.com/instance length is <=63 chars for tron
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Ensure paasta.yelp.com/instance length is <=63 chars for tron (#3208)
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 0.109.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Auto generate pod template for pod affinity with weights specified by the user [COREML-2557] (#3203)"
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.109.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Making the default false
  paasta_tools/cli/cmds/spark_run.py
Due: none

Update spark_run.py
  paasta_tools/cli/cmds/spark_run.py
Due: none

don't clear environment when running spark docker container
  paasta_tools/cli/cmds/spark_run.py
Due: none

Fix paasta status crash on evicted pods bug
  paasta_tools/instance/kubernetes.py
Due: none

Released 0.109.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

PAASTA-17456: Update oom_logger to handle new structured oom-kill logs
  paasta_tools/oom_logger.py
  tests/test_oom_logger.py
Due: patch-enforce-autospec

add script to run paasta status without the paasta api and other testing helpers
  api_client.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/create_replication_checker.py
  paasta_tools/fake_zipkin.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/run_status_without_api.py
Due: none

Released 0.109.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

bump service_configuration_lib to 2.6.0
  requirements-minimal.txt
  requirements.txt
Due: none

Change instance name to monkrelays
  paasta_tools/monkrelaycluster_tools.py
Due: none

Change instance type to 'monkrelays'
  paasta_tools/utils.py
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
