Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Add some ConfigMap helpers
  paasta_tools/kubernetes_tools.py
Due: none

Add paasta_cleanup_expired_autoscaling_overrides
  debian/paasta-tools.links
  paasta_tools/cleanup_expired_autoscaling_overrides.py
  setup.py
  yelp_package/itest/ubuntu.sh
Due: none

Update cleanup_expired_autoscaling_overrides.py
  paasta_tools/cleanup_expired_autoscaling_overrides.py
Due: none

FLINK-5725: Move Flink Paasta Status functionality into own file
  paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/status_flink.py
Due: none

FLINK-5725: Update Flink Paasta Status Tests patches
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

FLINK-5725: Address circular dependency issues
  paasta_tools/cli/utils.py
Due: none

FLINK-5725: Address circular dependency issues
  paasta_tools/cli/cli.py
Due: none

Add paasta_cleanup_expired_autoscaling_overrides (#4081)
  debian/paasta-tools.links
  paasta_tools/cleanup_expired_autoscaling_overrides.py
  paasta_tools/kubernetes_tools.py
  setup.py
  yelp_package/itest/ubuntu.sh
Due: none

Released 1.25.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.cleanup_expired_autoscaling_overrides.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Upgraded service_configuration_lib to 3.3.4
  requirements-minimal.txt
  requirements.txt
Due: none

FLINK-5725: Address patch/mock issue
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

bump service-configuration-lib to 3.3.5
  requirements-minimal.txt
  requirements.txt
Due: none

Ensure that autoscaling is enabled and other bug fixes
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/autoscaling_override.py
Due: check-oapi-schema

Released 1.25.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

fix some silly bugs
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/paastaapi/model/autoscaling_override.py
Due: check-oapi-schema

correctly display override status
  paasta_tools/cli/cmds/autoscale.py
Due: none

fix unittest failure
  tests/cli/test_cmds_autoscale.py
Due: patch-enforce-autospec

Adding idempotent label to Tron pods - TRON-2154 (#4076)
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.26.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

address some reviews
  paasta_tools/api/tweens/auth.py
  requirements-dev-minimal.txt
  requirements-dev.txt
Due: none

Ignore new services (that haven't been marked for deployment yet) in setup_kubernetes_cr.
  paasta_tools/setup_kubernetes_cr.py
Due: none

fix requirements.txt
  requirements.txt
Due: none

Released 1.26.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Address typeignore comments and requirements file
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/instance/kubernetes.py
  requirements-minimal.txt
  requirements.txt
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

use docker-compose for k8s_itests
  tox.ini
Due: none

Remove tron_jobs_running_here since this was mesos-only
  paasta_tools/broadcast_log_to_services.py
  paasta_tools/tron_tools.py
Due: none

Remove mesos-only check_spark_jobs.py and related tests
  docs/source/generated/paasta_tools.check_spark_jobs.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/check_spark_jobs.py
  setup.py
  tests/test_check_spark_jobs.py
Due: patch-enforce-autospec

Use concrete types in metastatus_lib now that we've dropped mesos support
  paasta_tools/metrics/metastatus_lib.py
Due: none

Delete now-unused code in smartstack_tools
  paasta_tools/smartstack_tools.py
  tests/test_smartstack_tools.py
Due: patch-enforce-autospec

fix bug introduced by roocode
  paasta_tools/tron_tools.py
Due: none

upgrade pyaml for k8s_itests
  tox.ini
Due: none

back to original
  tox.ini
Due: none

get rid of dependencies for k8s_itest
  tox.ini
Due: none

update type ignore comments
  paasta_tools/instance/kubernetes.py
  paasta_tools/metrics/metastatus_lib.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Allow setting temporary max_instances overrides (#4078)
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/autoscaling_override.py
  paasta_tools/paastaapi/model/inline_response202.py
  paasta_tools/setup_kubernetes_job.py
  tests/cli/test_cmds_autoscale.py
Due: patch-enforce-autospec, check-oapi-schema

Released 1.27.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove ability for API to serve instance status of adhoc (only supported mesos anyway)
  paasta_tools/api/views/instance.py
  tests/api/test_instance.py
Due: patch-enforce-autospec

modify some type ignores and add show_error_codes
  .github/workflows/ci.yml
  mypy.ini
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/instance/kubernetes.py
  requirements.txt
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
