Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

MLCOMPUTE-967 | use default pod template without compact bin packing
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

MLCOMPUTE-967 | bump service-configuration-lib version
  requirements-minimal.txt
  requirements.txt
Due: none

MLCOMPUTE-967 | fix tests
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

MLCOMPUTE-967 | fix tests
  tests/test_tron_tools.py
Due: patch-enforce-autospec

PAASTA-17380: Switch all paasta-*.yelp references to *.paasta
  docs/source/system_configs.rst
  paasta_tools/cli/cmds/info.py
  paasta_tools/utils.py
  tests/cli/test_cmds_info.py
  tests/cli/test_cmds_metastatus.py
  tests/cli/test_utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

Fix PAASTA_PORT envvar in local-run
  paasta_tools/cli/cmds/local_run.py
Due: none

Add a test
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Only include PAASTA_PORT for things with a port
  paasta_tools/cli/cmds/local_run.py
Due: none

Refactor local_run to use get_env instead of get_env_dictionary, stop testing PAASTA_PORT in local_run tests
  paasta_tools/cli/cmds/local_run.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

MLCOMPUTE-967 | updated timeout_spark regex acc to bash timeout, removed redundant spark ports assignment
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
Due: none

MLCOMPUTE-967 | fix tests
  paasta_tools/tron_tools.py
Due: none

MLCOMPUTE-967 | remove commented logic
  paasta_tools/tron_tools.py
Due: none

added support for flinkeks in paasta cli commands
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/instance_status.py
Due: check-oapi-schema

Released 0.218.10 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

add service_account field for deploy.yaml
  paasta_tools/cli/schemas/deploy_schema.json
Due: none

lowercase before comparing in case we're wrong about the name of this state.
  paasta_tools/cli/cmds/status.py
Due: none

Split NOT_RUNNING state into different states for different underlying conditions.
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 0.218.11 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Specify prometheus scrape path
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Support building debian package with unprivileged docker
  yelp_package/Makefile
Due: none

Only skip chown for podman
  yelp_package/Makefile
Due: none

Support building Debian package with unprivileged docker (#3814)
  yelp_package/Makefile
Due: none

Remove spark signalfx dashboard urls
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Update driver pod annotations for metrics scraping
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Remove spark signalfx dashboard urls (#3815)
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

stop monkey-patching the HPA object
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

tox-requirements-bootstrap is internal only
  .github/workflows/ci.yml
  tox.ini
Due: none

Pin back progressbar
  requirements.txt
Due: none

Downgrade slackclient
  requirements.txt
Due: none

Add back the paasta venv
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  Makefile
  requirements-bootstrap.txt
  tox.ini
Due: none

Revert "Pin back hypothesis"
  requirements-dev.txt
Due: none

Revert "Pin back progressbar"
  requirements.txt
Due: none

Sync other requirements files
  requirements-bootstrap.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

Bump pip and remove venv-update
  Makefile
  requirements-bootstrap.txt
  tox.ini
Due: none

Newer python on CI?
  .github/workflows/ci.yml
Due: none

We need a boto available everywhere
  requirements.txt
Due: none

Sync another extra_requirement
  yelp_package/extra_requirements_yelp.txt
Due: none

Pin back hypothesis
  requirements-dev.txt
Due: none
