Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

Released 0.147.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Remove logging final command for spark-run so we don't log credentials.
  paasta_tools/cli/cmds/spark_run.py
Due: none

Correctly display scribe selector
  paasta_tools/cli/cmds/logs.py
Due: none

Update get_actual_deployments to no longer depend on deploymentjsonv1 and add deployment version to paasta status output
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/paasta_service_config_loader.py
  paasta_tools/paastaapi/model/instance_status.py
  paasta_tools/utils.py
  tests/api/test_instance.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec, check-oapi-schema

Fix typing
  paasta_tools/api/views/instance.py
Due: none

Adhoc spark runs use environment credentials provider. (#3471)
  paasta_tools/cli/cmds/spark_run.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Released 0.148.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Passed the values.yaml file to the render_values function
  paasta_tools/contrib/create_paasta_playground.py
  paasta_tools/contrib/ide_helper.py
  paasta_tools/contrib/render_template.py
  paasta_tools/run-paasta-api-playground.py
Due: none

[FLINK-4123] Remove the fallback for the paasta client (#3440)
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 0.148.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update bounce_margin_factor docs
  docs/source/bouncing.rst
  docs/source/yelpsoa_configs.rst
Due: none

Adding validation for when max_instances is missing in soaconfig
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/long_running_service_tools.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

CLUSTERMAN-710, bump version for service_lib_config to 2.12.2
  requirements.txt
Due: none

Secrets for teams feature in paasta secret cli
  paasta_tools/cli/cmds/secret.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
  tests/cli/test_cmds_secret.py
  tests/test_kubernetes_tools.py
  tests/test_utils.py
Due: patch-enforce-autospec

CLUSTERMAN-710, bump version for service_lib_config to 2.12.2 (#3476)
  requirements.txt
Due: none

Released 0.148.2 via make release
  debian/changelog
  docs/source/generated/paasta_tools.contrib.create_paasta_playground.rst
  docs/source/generated/paasta_tools.contrib.render_template.rst
  docs/source/generated/paasta_tools.contrib.rst
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.run-paasta-api-playground.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

COMPINFRA-1605, add "yelp.com/owner" and "paasta.yelp.com/pool" labels to k8s resources
  paasta_tools/kubernetes_tools.py
  unique-run
Due: none

Delete unique-run
  unique-run
Due: none

COMPINFRA-1605, fix bounce test
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

COMPINFRA-1605, fix tests
  tests/test_kubernetes_tools.py
  unique-run
Due: patch-enforce-autospec

Fixing type issues and updates based on krall's suggestions
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/long_running_service_tools.py
  tests/cli/test_cmds_validate.py
  unique-run
Due: patch-enforce-autospec

removing print statement
  paasta_tools/cli/cmds/validate.py
Due: none

removing temp file unique-run
  unique-run
Due: none

minor fixes for paasta secret cli for teams
  paasta_tools/cli/cmds/secret.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
Due: none

fixing unit tests, exceptions and sanitisation
  paasta_tools/cli/cmds/secret.py
  paasta_tools/kubernetes_tools.py
  tests/cli/test_cmds_secret.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

fixing check fail, adding type annotations, more exceptions
  paasta_tools/cli/cmds/secret.py
  paasta_tools/kubernetes_tools.py
Due: none

COMPINFRA-1605, add labels to k8s workloads (#3479)
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.149.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add custom loading for flink config in setup cr
  paasta_tools/setup_kubernetes_cr.py
  paasta_tools/utils.py
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

Add testing for load_all_flink_config
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

Adding allow_no_verify_deploy flag to support no_verify_deploy
  paasta_tools/cli/schemas/deploy_schema.json
Due: none

replacing subprocess with kubernetes python lib
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

More f-strings
  paasta_tools/cli/cmds/status.py
Due: none

Add option to pass kubeconfig path, context to KubeClient constructor as params
  paasta_tools/kubernetes_tools.py
Due: none

renaming user kube config path var
  paasta_tools/kubernetes_tools.py
Due: none

Use load service instance configs function
  paasta_tools/setup_kubernetes_cr.py
  paasta_tools/utils.py
  tests/test_setup_kubernetes_cr.py
  tests/test_utils.py
Due: patch-enforce-autospec

COMPINFRA-1050, COMPINFRA-1043: fix paasta status output to show full version if provided (#3473)
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/paasta_service_config_loader.py
  paasta_tools/paastaapi/model/instance_status.py
  paasta_tools/utils.py
  tests/api/test_instance.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.149.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none
