Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        args: ['--target-version', 'py38']
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/PyCQA/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

Make it explicit which CRs update related objects
  paasta_tools/setup_kubernetes_cr.py
  paasta_tools/vitesscluster_tools.py
Due: none

Remove hard-coded HPA specs
  paasta_tools/vitesscluster_tools.py
Due: none

Add all_namespaces arg to the right places in test_cmds_status
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Mount srv-configs onto vtgate pods
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Rename Vtgate to ScalableVtgate
  paasta_tools/vitesscluster_tools.py
Due: none

Define ScalableVtgate metadata in one place
  paasta_tools/vitesscluster_tools.py
Due: none

HPA name should be the same as the cell, not cluster
  paasta_tools/vitesscluster_tools.py
Due: none

Set owner_references for vtgate HPAs
  paasta_tools/vitesscluster_tools.py
Due: none

Fix error message
  paasta_tools/vitesscluster_tools.py
Due: none

Fix mypy errors
  paasta_tools/vitesscluster_tools.py
Due: none

Fix tests
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Address reviews
  docs/source/about/glossary.rst
  docs/source/about/smartstack_interaction.rst
  docs/source/autoscaling.rst
  docs/source/contributing.rst
  docs/source/deploy_groups.rst
  docs/source/index.rst
  docs/source/installation/example_cluster.rst
  docs/source/installation/getting_started.rst
  docs/source/isolation.rst
  docs/source/paasta_development.rst
  docs/source/soa_configs.rst
  docs/source/style_guide.rst
  docs/source/system_configs.rst
  docs/source/workflow.rst
  docs/source/yelpsoa_configs.rst
Due: none

Remove unnecessary uses_bulkdata entry from tron schema (#3951)
  paasta_tools/cli/schemas/tron_schema.json
Due: none

Add system volumes to vitess pods
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Released 1.4.34 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update vector-logs filter fn usage
  paasta_tools/cli/cmds/logs.py
Due: none

Set the init_shard to 0 for consistency with existing setup
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

update error messaging + new_configs handling
  paasta_tools/setup_tron_namespace.py
Due: none

Update regular filename reference in autotune files
  paasta_tools/config_utils.py
Due: none

Update regular filename reference in autotune files (#3961)
  paasta_tools/config_utils.py
Due: none

Attempt to batch config loading for tron deployments (#3956)
  paasta_tools/setup_tron_namespace.py
  paasta_tools/tron/client.py
Due: none

Released 1.5.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 1.5.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Address more reviews
  docs/source/contributing.rst
  docs/source/deploy_groups.rst
  docs/source/installation/getting_started.rst
  docs/source/isolation.rst
  docs/source/paasta_development.rst
  docs/source/style_guide.rst
  docs/source/system_configs.rst
  docs/source/workflow.rst
  docs/source/yelpsoa_configs.rst
Due: none

Implement restart vitess using dot notation
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/utils.py
  paasta_tools/vitesscluster_tools.py
  tests/instance/test_kubernetes.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Add unit tests
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Add tron spark monitoring config metrics
  paasta_tools/monitoring_tools.py
  paasta_tools/tron_tools.py
Due: none

convert components to uppercase VTGATE/VTADMIN/VTCTLD/VTTABLET
  paasta_tools/utils.py
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Add error message to test
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Make sure cr_id doesn't include component
  paasta_tools/vitesscluster_tools.py
Due: none

Revert "convert components to uppercase VTGATE/VTADMIN/VTCTLD/VTTABLET"
  paasta_tools/utils.py
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Update tests after verifying locally
  paasta_tools/utils.py
  paasta_tools/vitesscluster_tools.py
  tests/test_vitesscluster_tools.py
Due: patch-enforce-autospec

Always use datetime.now(timezone.utc) in paasta status
  paasta_tools/cli/cmds/status.py
Due: none

forgot to update recent_container_restart
  paasta_tools/kubernetes_tools.py
Due: none

Also explictly use UTC in event filtering logic
  paasta_tools/kubernetes_tools.py
Due: none

Update kafka tests to account for tz offset
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Add CODEOWNERS for CI-owned files
  CODEOWNERS
Due: none

does this work to exclude?
  CODEOWNERS
Due: none

Upgrading k8s lib
  paasta_tools/kubernetes_tools.py
  requirements-minimal.txt
  requirements.txt
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fixing tests
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec
