Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

MarkForDeploymentProcess is now RollbackSlacDeploymentProcess
  paasta_tools/cli/cmds/mark_for_deployment.py
  requirements.txt
Due: none

Use apiextensions.k8s.io/v1 instead of v1beta1
  paasta_tools/kubernetes_tools.py
Due: none

[FLINK-4097] Get Flink cluster status via JM API.
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

[FLINK-4097] Talk to the JM API using the ingress not the dashboard url
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Released 0.139.5 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 0.140.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Run internal tests on jenkins-k8s (#3427)
  Jenkinsfile
  paasta_itests/README.md
  paasta_itests/autoscaling_service.feature
  paasta_itests/capacity_check.feature
  paasta_itests/docker-compose.yml
  paasta_itests/environment.py
  paasta_itests/hacheck.feature
  paasta_itests/itest_utils.py
  paasta_itests/marathon.feature
  paasta_itests/paasta_api.feature
  paasta_itests/paasta_metastatus.feature
  paasta_itests/paasta_native.feature
  paasta_itests/paasta_native_task_store.feature
  paasta_itests/paasta_remote_run.feature
  paasta_itests/steps/autoscaling_service_steps.py
  paasta_itests/steps/bounces_steps.py
  paasta_itests/steps/cleanup_marathon_job_steps.py
  paasta_itests/steps/hacheck_steps.py
  paasta_itests/steps/marathon_steps.py
  paasta_itests/steps/paasta_api_steps.py
  paasta_itests/steps/paasta_metastatus_steps.py
  paasta_itests/steps/paasta_native_steps.py
  paasta_itests/steps/paasta_native_task_store_steps.py
  paasta_itests/steps/setup_steps.py
  tox.ini
Due: patch-enforce-autospec

Add validation to discourage large cpu_burst_add
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

one day...
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
Due: none

Stop calling paasta_itests toxenv
  Makefile
Due: none

Stop calling paasta_itests toxenv (#3437)
  Makefile
Due: none

Move the service.instance header so that it prints at the same time as the output for that service.instance. PAASTA-17657
  paasta_tools/cli/cmds/status.py
Due: none

[FLINK-4097] Minor changes after review
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

[FLINK-4097] Additional test case
  tests/test_flink_tools.py
Due: patch-enforce-autospec

[FLINK-4097] Minor changes after review#2
  paasta_tools/flink_tools.py
Due: none

Update behave test to check for any validation failure message
  general_itests/validate.feature
Due: none

Released 0.140.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

[FLINK-4097] Get Flink cluster status via JM API (#3435)
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.141.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.api.views.flink.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_cluster_overview.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_config.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job_details.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_jobs.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Create test.md
  test.md
Due: none

Skip templated services for now in cpu_burst_add validation
  paasta_tools/cli/cmds/validate.py
Due: none

skip templates for cpu autoscaling check too
  paasta_tools/cli/cmds/validate.py
Due: none

stop short-circuiting
  paasta_tools/cli/cmds/validate.py
Due: none

Add validation to discourage large cpu_burst_add (#3436)
  general_itests/validate.feature
  paasta_tools/cli/cmds/validate.py
  paasta_tools/utils.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 0.142.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add necessary requirements to add new version of sticht to add rollback conditions
  paasta_tools/cli/cmds/mark_for_deployment.py
  requirements.txt
  tests/cli/test_cmds_mark_for_deployment.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

add splunk-sdk package for sticht in extra_req
  yelp_package/extra_requirements_yelp.txt
Due: none

COMPINFRA-1244: Add get-image-version cli tool to generate extra image version during deployments
  mypy.ini
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/get_image_version.py
  paasta_tools/utils.py
  tests/cli/test_cmds_get_image_version.py
Due: patch-enforce-autospec

grammar
  paasta_tools/cli/cmds/get_image_version.py
Due: none

[FLINK-4152] Use V1 apiextensions
  paasta_tools/kubernetes_tools.py
Due: none

Bumping sticht
  paasta_tools/cli/cmds/mark_for_deployment.py
  requirements.txt
  yelp_package/extra_requirements_yelp.txt
Due: none

removed mesos_cpu from kubernetes_schema.json and other references
  docs/source/autoscaling.rst
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
  tests/test_kubernetes_tools.py
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

Released 0.143.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.cli.cmds.get_image_version.rst
  docs/source/generated/paasta_tools.cli.cmds.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Evicted pods should cause replica state to be 'Not Running'
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Adds specifying vault token path
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/utils.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

Remove test fixes and changes to args argument
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

Adds specifying vault token path PAASTA-17437 (#3446)
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/utils.py
Due: none

Released 0.144.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Bump service_configuration_library to fix an issue with spark 3.2 on mesos.
  requirements-minimal.txt
  requirements.txt
Due: none

Bump service_configuration_library to fix an issue with spark 3.2 on mesos. (#3447)
  requirements-minimal.txt
  requirements.txt
Due: none
