Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

remove use_k8s deprecated flag (#3749)
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 0.209.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fix tests related to marathon schema validation
  tests/cli/test_cmds_validate.py
  tests/test_config_utils.py
Due: patch-enforce-autospec

fix general_itests after deleting marathon validation schema
  general_itests/fake_soa_configs_validate/fake_invalid_service/kubernetes-test-cluster.yaml
  general_itests/fake_soa_configs_validate/fake_valid_service/marathon-test-cluster.yaml
Due: none

Refactor how we load configs in paasta validate / tron_tools to speed things up.
  paasta_tools/cli/cmds/validate.py
  paasta_tools/tron_tools.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

wip
  paasta_tools/cli/cmds/sql.py
Due: none

Expand monitoring dict to each attribute
  paasta_tools/cli/cmds/sql.py
Due: none

Implement 'paasta sql' command which generates a sqlite database of all kubernetes instances.
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/sql.py
Due: none

Released 0.209.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Always use docker registry server's digest information for pushed spark images
  paasta_tools/cli/cmds/spark_run.py
Due: none

Fix unit tests and add new ones for new functionality
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Make message for check_autoscaler_max_instances mention that the service is at max_instances. Justify the text in the source code.
  paasta_tools/check_autoscaler_max_instances.py
Due: none

Add clusters argument
  paasta_tools/cli/cmds/sql.py
Due: none

Correctly use cls in column_names_and_getters_for_class
  paasta_tools/cli/cmds/sql.py
Due: none

Generate tables for eks instances as well
  paasta_tools/cli/cmds/sql.py
Due: none

Improve type annotations
  mypy.ini
  paasta_tools/cli/cmds/sql.py
Due: none

Add prints + move things around a bit
  paasta_tools/cli/cmds/sql.py
Due: none

allow for overwriting db file
  paasta_tools/cli/cmds/sql.py
Due: none

Add support for Vitess deployments on paasta
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
  paasta_tools/vitess_tools.py
Due: none

Use paasta-vitessclusters namespace instead
  paasta_tools/utils.py
  paasta_tools/vitess_tools.py
Due: none

Attempt to make local-run itests pass on Github Actions by setting hostname to the hostname, not the FQDN
  paasta_tools/docker_wrapper.py
  tests/test_docker_wrapper.py
Due: patch-enforce-autospec

Improve caching in setup_kubernetes_job to reduce unnecessary work. PAASTA-18159
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_kubernetes_job.py
  tests/conftest.py
Due: patch-enforce-autospec

Fix test failures
  paasta_tools/cli/utils.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/vitess_tools.py
  tests/test_utils.py
Due: patch-enforce-autospec

Support preferredDuringSchedulingIgnoredDuringExecution node affinity. PAASTA-18145
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Patching python-k8s-client at build time
  contrib/python-k8s-client.diff
  debian/rules
Due: none

Released 0.210.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add workaround script to fix habitat labels
  paasta_tools/contrib/habitat_fixer.py
Due: none

jfong is smarter than me
  paasta_tools/contrib/habitat_fixer.py
Due: none

Make paasta_habitat_fixer more usable
  debian/paasta-tools.links
  setup.py
Due: none

Remove include_smartstack
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/mark_for_deployment.py
  paasta_tools/cli/cmds/mesh_status.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/api/service_api.py
  tests/api/test_instance.py
  tests/cli/test_cmds_status.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Fix get_instance_configs_for_service to use cluster arg
  paasta_tools/cli/utils.py
Due: none

Add workaround script to fix habitat labels (#3762)
  debian/paasta-tools.links
  paasta_tools/contrib/habitat_fixer.py
  setup.py
Due: none

Released 0.211.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.contrib.habitat_fixer.rst
  docs/source/generated/paasta_tools.contrib.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fix debian link
  debian/paasta-tools.links
Due: none

Fix debian link (#3765)
  debian/paasta-tools.links
Due: none

Released 0.211.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Guess the correct context (or allow override) in paasta_habitat_fixer
  paasta_tools/contrib/habitat_fixer.py
Due: none

simplify
  paasta_tools/contrib/habitat_fixer.py
Due: none

Guess the correct context (or allow override) in paasta_habitat_fixer (#3766)
  paasta_tools/contrib/habitat_fixer.py
Due: none

Released 0.211.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
