Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Add healthcheck and event info to new status output, add tips for warmup, add tests
  docs/source/generated/paasta_tools.paastaapi.model.kubernetes_replica_set_v2.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  docs/source/generated/paasta_tools.paastaapi.rst
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/instance_status_kubernetes_autoscaling_status.py
  paasta_tools/paastaapi/model/instance_status_kubernetes_v2.py
  paasta_tools/paastaapi/model/kubernetes_healthcheck.py
  paasta_tools/paastaapi/model/kubernetes_pod_event.py
  paasta_tools/paastaapi/model/kubernetes_pod_v2.py
  paasta_tools/paastaapi/models/__init__.py
  tests/cli/test_cmds_status.py
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.100.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.kubernetes_healthcheck.rst
  docs/source/generated/paasta_tools.paastaapi.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Fixing documentation for replication_threshold
  docs/source/yelpsoa_configs.rst
Due: none

Fixing the documentation inconsistencies for the alert_after & replication_threshold (#3102)
  docs/source/yelpsoa_configs.rst
Due: none

Deduplicate volume mounts by containerpath only
  paasta_tools/utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

Add Envoy route swapping container as a sidecar to our pods
  paasta_tools/kubernetes_tools.py
Due: none

Add code to create boto key dist folders on service launch
  paasta_tools/utils.py
Due: none

Add schema updates for boto_keys
  paasta_tools/cli/schemas/adhoc_schema.json
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/cli/schemas/marathon_schema.json
  paasta_tools/cli/schemas/tron_schema.json
Due: none

Increase Envoy timeout
  paasta_tools/envoy_tools.py
Due: none

Stop using bintray
  .dockerignore
  .github/workflows/ci.yml
  .gitignore
  README.md
  docs/source/installation/getting_started.rst
  yelp_package/Makefile
  yelp_package/bintray.json.in
  yelp_package/cleanup_bintray.sh
  yelp_package/dockerfiles/itest/marathon/Dockerfile
Due: none

MESH-1091 Add support for Virtual Node integration with envoy
  paasta_tools/kubernetes_tools.py
Due: none

Increased default mem for envoy sidecar
  paasta_tools/kubernetes_tools.py
Due: none

Update deploy_group documentation, link to it from index.rst
  docs/source/deploy_groups.rst
  docs/source/index.rst
Due: none

fix capitalization of PaaSTA / SmartStack
  docs/source/deploy_groups.rst
Due: none

Address feedback from luisp; fix a mistake I noticed in yelpsoa_configs.rst
  docs/source/deploy_groups.rst
  docs/source/yelpsoa_configs.rst
Due: none

Fixed prestop hooks
  paasta_tools/kubernetes_tools.py
Due: none

MESH-1091 Add envoy and proxy sidecars for Appmesh POC, cherry picked
  paasta_tools/kubernetes_tools.py
Due: none

Removed hardcoded region reference
  paasta_tools/kubernetes_tools.py
Due: none

Add autoscaling configuration validation
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Correctly handle a missing offset in autoscaling config
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Add autoscaling configuration validation (#3118)
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 0.100.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

PAASTA-17375 - yelpsoa-configs does not validate that registrations are valid
  paasta_tools/long_running_service_tools.py
  paasta_tools/utils.py
  tests/test_long_running_service_tools.py
Due: patch-enforce-autospec

Make new paasta status report OOM kills when it is the last state of the container, too
  paasta_tools/cli/cmds/status.py
Due: none

PAASTA-17375 - Fixed pre-commit hooks
  paasta_tools/long_running_service_tools.py
  paasta_tools/utils.py
  tests/test_long_running_service_tools.py
Due: patch-enforce-autospec

PAASTA-17375 - Adding PR suggestions.
  paasta_tools/long_running_service_tools.py
Due: none

Define proper type for monitoring key in InstanceConfigDict.
  paasta_tools/utils.py
  tests/test_marathon_tools.py
  tests/test_utils.py
Due: patch-enforce-autospec

PAASTA-17337 - capturing instance misconfiguration exceptions for setup_kubernetes_job
  paasta_tools/setup_kubernetes_job.py
Due: none

PAASTA-17389.
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

Update error message
  paasta_tools/long_running_service_tools.py
Due: none

Update flink dashboard url in tests.
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

Fix flink dashboard url test assertion.
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

PAASTA-17389. (#3127)
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

Revert "PAASTA-17389. (#3127)"
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

Revert "PAASTA-17389. (#3127)" (#3128)
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
  tests/test_setup_kubernetes_cr.py
Due: patch-enforce-autospec

PAASTA-17375 - Update error message in tests
  tests/test_long_running_service_tools.py
Due: patch-enforce-autospec

initial commit for boto keys as kubernetes volume secrets
  paasta_tools/cli/schemas/adhoc_schema.json
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/cli/schemas/tron_schema.json
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
Due: none

Fixes to paasta_secret_sync for boto
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
