Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        args: ['--target-version', 'py38']
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/PyCQA/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

Addressing yelpsoa files reviews
  docs/source/isolation.rst
  docs/source/paasta_development.rst
  docs/source/yelpsoa_configs.rst
Due: none

Update smartstack schema for min error rps to be numbers instead of ints
  paasta_tools/cli/schemas/smartstack_schema.json
Due: none

Released 1.6.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Cleanup spark related logs from setup_tron_namespace
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/setup_tron_namespace.py
  paasta_tools/spark_tools.py
  paasta_tools/tron_tools.py
  requirements.txt
Due: none

Fix driver on k8s pod template overwriting
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

revert changes to min/max instances, clean up autotune limits code
  paasta_tools/contrib/service_shard_update.py
Due: none

fix iteration
  paasta_tools/contrib/service_shard_update.py
Due: none

MLCOMPUTE-2001 | Cleanup spark related logs from setup_tron_namespace (#3979)
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/setup_tron_namespace.py
  paasta_tools/spark_tools.py
  paasta_tools/tron_tools.py
  requirements.txt
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Handle AttributeError exceptions in logs CLI
  paasta_tools/cli/cmds/logs.py
Due: none

Update comments
  paasta_tools/cli/cmds/logs.py
Due: none

Document `autotune_limits`
  docs/source/yelpsoa_configs.rst
Due: none

Handle AttributeError exceptions in logs CLI (#3980)
  paasta_tools/cli/cmds/logs.py
Due: none

Cleaning up Mesos from paasta readthedocs - PAASTA-18313 (#3954)
  docs/source/about/glossary.rst
  docs/source/about/paasta_principles.rst
  docs/source/about/smartstack_interaction.rst
  docs/source/autoscaling.rst
  docs/source/contributing.rst
  docs/source/generated/paasta_tools.rst
  docs/source/index.rst
  docs/source/installation/example_cluster.rst
  docs/source/installation/getting_started.rst
  docs/source/isolation.rst
  docs/source/paasta_development.rst
  docs/source/soa_configs.rst
  docs/source/style_guide.rst
  docs/source/system_configs.rst
  docs/source/workflow.rst
  docs/source/yelpsoa_configs.rst
Due: none

Released 1.7.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Document `autotune_limits` (#3981)
  docs/source/yelpsoa_configs.rst
Due: none

Bump service-configuration-lib to v3 to stop mounting /etc/pki/spark
  requirements-minimal.txt
  requirements.txt
Due: none

Bump service-configuration-lib to v3 to stop mounting /etc/pki/spark (#3982)
  requirements-minimal.txt
  requirements.txt
Due: none

Released 1.7.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add tron topology_stpread_constraints support to PaaSTA
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Update tests
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Update config_utils.py
  paasta_tools/config_utils.py
Due: none

Update test_config_utils.py
  tests/test_config_utils.py
Due: patch-enforce-autospec

Allowlist eks files in config_utils (#3984)
  paasta_tools/config_utils.py
  tests/test_config_utils.py
Due: patch-enforce-autospec

Released 1.7.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Checkpoint commit
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cli.py
  paasta_tools/cli/cmds/remote_run_2.py
  paasta_tools/paasta_remote_run_2.py
  paasta_tools/paastaapi/api/service_api.py
Due: check-oapi-schema

auth support for paasta APIs
  paasta_tools/api/api.py
  paasta_tools/api/tweens/__init__.py
  paasta_tools/api/tweens/auth.py
  requirements.txt
  tests/api/tweens/test_auth.py
Due: patch-enforce-autospec

allow passing auth token to API client
  paasta_tools/api/client.py
Due: none

More remote_run stuff
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/remote_run_2.py
  paasta_tools/paasta_remote_run_2.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

change Deployment to Job
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paasta_remote_run_2.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/apis/__init__.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

Ensure service account
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
Due: check-oapi-schema

Service account, role binding, token
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/client.py
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/remote_run_2.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paasta_remote_run_2.py
Due: check-oapi-schema

Wrap Tron TSC code with a feature toggle
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
Due: none

Add feature toggle to tests
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Minor change to token generation
  paasta_tools/cli/cmds/remote_run_2.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paasta_remote_run_2.py
Due: none

eks support
  paasta_tools/paasta_remote_run_2.py
Due: none

Add tron topology_spread_constraints support to PaaSTA (#3983)
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.8.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

pty.spawn, stop
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/remote_run_2.py
  paasta_tools/paasta_remote_run_2.py
Due: none

is_eks
  paasta_tools/api/views/instance.py
  paasta_tools/paasta_remote_run_2.py
Due: none
