Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

make openapi-codegen
  paasta_tools/paastaapi/models/__init__.py
Due: none

pass the idempotent key to tron
  paasta_tools/tron_tools.py
Due: none

fix tests
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Take the max suggestion from autotune (#4056)
  paasta_tools/contrib/paasta_update_soa_memcpu.py
Due: none

Released 1.23.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

FLINK-5725: Use 'fake-cluster' name in tests
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Update requirements-minimal.txt
  requirements-minimal.txt
Due: none

FLINK-5725: Use existing helper functions
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/utils.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
  tests/test_utils.py
Due: patch-enforce-autospec

FLINK-5725: Use existing helper functions 2
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Update paasta_tools/cli/cmds/status.py
  paasta_tools/cli/cmds/status.py
Due: none

FLINK-5725: Refactors and remove try/exception
  paasta_tools/cli/cmds/status.py
Due: none

FLINK-5725: Move ecosytem function to utils
  paasta_tools/cli/cmds/status.py
  paasta_tools/utils.py
  tests/cli/test_cmds_status.py
  tests/test_utils.py
Due: patch-enforce-autospec

FLINK-5725: Fix tox issues
  paasta_tools/flink_tools.py
Due: none

Update paasta_tools/flink_tools.py
  paasta_tools/flink_tools.py
Due: none

Update paasta_tools/utils.py
  paasta_tools/utils.py
Due: none

FLINK-5725: Rename fake-cluster to fake_cluster
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

FLINK-5725: Update test mock
  tests/test_utils.py
Due: patch-enforce-autospec

Revert "Check iam_role for existing ServiceAccounts"
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

FLINK-5725: Fix tox issues
  paasta_tools/cli/cmds/status.py
Due: none

Add better error handling for 403s in remote-run (#4074)
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/paastaapi/api/remote_run_api.py
  paasta_tools/paastaapi/model/inline_response403.py
  paasta_tools/paastaapi/models/__init__.py
Due: check-oapi-schema

Released 1.23.2 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.inline_response403.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Allow setting temporary max_instances overrides
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/autoscaler.py
  paasta_tools/cli/cmds/autoscale.py
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/model/autoscaling_override.py
  paasta_tools/paastaapi/model/inline_response202.py
  paasta_tools/setup_kubernetes_job.py
Due: check-oapi-schema

Update tests/test_utils.py
  tests/test_utils.py
Due: patch-enforce-autospec

FLINK-5725: Fix indentation + refactor
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

FLINK-5725: Remove if statement check
  paasta_tools/cli/cmds/status.py
Due: none

FLINK-5725: Fix tests by populating flink_instance_config
  tests/cli/test_cmds_status.py
  tests/conftest.py
Due: patch-enforce-autospec

Released 1.24.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Handle non-existent configmaps for autoscaling overrides
  paasta_tools/setup_kubernetes_job.py
Due: none

Handle non-existent configmaps for autoscaling overrides (#4080)
  paasta_tools/setup_kubernetes_job.py
Due: none

Released 1.24.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
