Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

use a string instead of a sentinel to get rid of a warning (#4161)
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Delete some unneded tests (#4155)
  tests/cli/test_cmds_start_stop_restart.py
  tests/mesos/test_cluster.py
  tests/mesos/test_master.py
  tests/test_mesos_tools.py
Due: patch-enforce-autospec

Add a pytest.ini for some warning supressions (#4157)
  pytest.ini
Due: none

Upgrade freezegun to get rid of a couple more warnings (#4160)
  requirements-dev.txt
  requirements-docs.txt
Due: none

Add Kafka topic details and parallelism to paasta status for SQLClient
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Adjust parallelism column spacing for better alignment
  paasta_tools/cli/cmds/status.py
Due: none

Add resource utilization and optimization suggestions
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Add instance-specific config links for SQLClient services
  paasta_tools/cli/cmds/status.py
Due: none

Simplify srv-configs path to use full repo location
  paasta_tools/flink_tools.py
Due: none

Add UDF plugin link for SQLClient services
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Add consumer group information with Kafka View and Grafana links
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Add tests for UDF, resource optimization, and consumer group features
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Refactor Kafka topics formatting with URL constants and helper functions
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Fix linting issues: remove unused imports and fix f-strings
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Fix mypy type annotation errors
  paasta_tools/flink_tools.py
Due: none

remove asynctest usage to fix a couple async warnings (#4156)
  requirements-dev-minimal.txt
  requirements-dev.txt
  requirements-docs.txt
  tests/api/test_instance.py
  tests/api/test_resources.py
  tests/cli/test_cmds_mark_for_deployment.py
  tests/instance/test_kubernetes.py
  tests/test_drain_lib.py
  tests/test_hacheck.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fix test_MarkForDeployProcess_handles_wait_for_deployment_cancelled
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Fix dobule-mock in test_kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Fix now-broken tests in test_oom_logger
  tests/test_oom_logger.py
Due: patch-enforce-autospec

Also update general_itests
  general_itests/steps/deployments_json_steps.py
  general_itests/steps/fsm_steps.py
  general_itests/steps/http_drain_method_steps.py
  general_itests/steps/tail_paasta_logs.py
Due: patch-enforce-autospec

internal deps are the worst
  tests/test_oom_logger.py
Due: patch-enforce-autospec

Add Kubernetes Service support
  paasta_tools/kubernetes/application/controller_wrappers.py
  paasta_tools/kubernetes_tools.py
  tests/kubernetes/application/test_controller_wrapper.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

WIP: Add modular helper functions for Flink status (part 1 of refactor)
  paasta_tools/flink_tools.py
Due: none

Refactor Flink status output to modular functions
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
Due: none

Add comprehensive tests for refactored Flink formatting functions
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Improve type safety and edge case handling in Flink refactor
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Fix mypy type errors and merge conflicts with master
  paasta_tools/flink_tools.py
Due: none

Fix test expectations for refactored output format
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Correctly merge fields in autotune
  paasta_tools/contrib/paasta_update_soa_memcpu.py
Due: none

add setup_namespace_services
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.rst
  docs/source/generated/paasta_tools.setup_istio_mesh.rst
  docs/source/generated/paasta_tools.setup_namespace_services.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/smartstack_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_istio_mesh.py
  paasta_tools/setup_namespace_services.py
  setup.py
  tests/test_setup_istio_mesh.py
  tests/test_setup_namespace_services.py
Due: patch-enforce-autospec

Improve type hints for flink_config and flink_instance_config parameters
  paasta_tools/flink_tools.py
Due: none

Move monitoring_tools imports to top of flink_tools.py
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Keep 'config' prefix in config SHA display
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Refactor get config
  paasta_tools/flink_tools.py
Due: none

Add validation to ensure config_sha exists in Flink metadata
  paasta_tools/flink_tools.py
Due: none

Merge duplicate 'if running' blocks in Flink status code
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Update/remove comments
  paasta_tools/cli/cmds/status.py
Due: none

Add a restart replica option
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/models/__init__.py
  paasta_tools/run-paasta-api-in-dev-mode.py
Due: check-oapi-schema

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
