Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

Update paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

Add a restart replica option
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/models/__init__.py
  paasta_tools/run-paasta-api-in-dev-mode.py
Due: check-oapi-schema

Add tests (thx claude)
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/api/test_instance.py
  tests/cli/test_cmds_start_stop_restart.py
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Add force param, default to configured termination_grace_period_seconds
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/instance_replica_restart_outcome.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_instance.py
  tests/cli/test_cmds_start_stop_restart.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Apply suggestion from @jfongatyelp
  paasta_tools/instance/kubernetes.py
Due: none

Apply suggestion from @nemacysts
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

precommit
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

add tests for ssm-secrets secret type
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

allow assume_role_arn to be omitted from ssm-secret spec
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/kubernetes_tools.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

remove duplicated rm in k8s_itest cleanup (#4182)
  k8s_itests/scripts/clean.sh
Due: none

spark-run: add warning message when using pod-identity without service name
  paasta_tools/cli/cmds/spark_run.py
Due: none

spark-run: add warning message when using pod-identity without service name (#4188)
  paasta_tools/cli/cmds/spark_run.py
Due: none

Released 1.36.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Bump vault-tools version
  yelp_package/extra_requirements_yelp.txt
Due: none

Rename Marathon to Kubernetes in local-run integration tests
  general_itests/local_run.feature
  general_itests/steps/local_run_steps.py
Due: patch-enforce-autospec

Remove paasta_docker_wrapper
  debian/paasta-tools.links
  docs/source/generated/paasta_tools.docker_wrapper.rst
  docs/source/generated/paasta_tools.docker_wrapper_imports.rst
  docs/source/generated/paasta_tools.rst
  paasta_tools/docker_wrapper.py
  paasta_tools/docker_wrapper_imports.py
  setup.py
  tests/test_docker_wrapper.py
Due: patch-enforce-autospec

Remove Mesos-isms from spark_run
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Refactor local-run environment handling and remove Mesos-isms
  paasta_tools/cli/cmds/local_run.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Add integration test for PaaSTA contract env vars
  general_itests/local_run.feature
  general_itests/steps/local_run_steps.py
Due: patch-enforce-autospec

Bump vault-tools version (#4189)
  yelp_package/extra_requirements_yelp.txt
Due: none

Released 1.36.5 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add new smartstack fields for latency alerting
  paasta_tools/cli/schemas/smartstack_schema.json
Due: none

Released 1.36.6 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Add explanatory comment for config_sha validation
  paasta_tools/flink_tools.py
Due: none

Remove redundant comments in flink status
  paasta_tools/cli/cmds/status.py
Due: none

Remove specific fields from docstring to avoid staleness
  paasta_tools/flink_tools.py
Due: none

Remove specific fields from format_flink_instance_metadata docstring
  paasta_tools/flink_tools.py
Due: none

Refactor TestCollectFlinkJobDetails to use expected dicts
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Add test for missing config_sha ValueError
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Add test for missing pod_status key
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Make Flink API error handling more granular
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Use defensive .get() for pod phase access
  paasta_tools/flink_tools.py
Due: none

Remove duplicate get_flink_job_name from status.py
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Add validation for metadata being None
  paasta_tools/cli/cmds/status.py
Due: none

Add tests for FAILED/FAILING job states
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Remove unused instance param from format_flink_config_links
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Fix defaults and formatting on delete_pod_by_name
  paasta_tools/kubernetes_tools.py
Due: none

Just use pod's configured grace period instead of pulling from job_config for non-forced replica restart
  paasta_tools/instance/kubernetes.py
Due: none

Fix tests
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec
