Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Moved the scs conf from --conf to env var
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/tron_tools.py
  requirements.txt
  tests/cli/test_cmds_spark_run.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

make local-run env handling more explicit
  paasta_tools/cli/cmds/local_run.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Moved the scs conf from --conf to env var (#4177)
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/tron_tools.py
  requirements.txt
  tests/cli/test_cmds_spark_run.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

Released 1.36.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

remove mesos-isms from local-run
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_local_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

update Makefile to use tox py310-linux environment
  Makefile
  k8s_itests/scripts/set-paasta-registry-credentials.sh
Due: none

add 'ssm-secrets' secret type to paasta_secrets_sync
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/kubernetes_tools.py
Due: none

Handle api errors like remote_run
  paasta_tools/cli/cmds/remote_run.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/cli/utils.py
Due: none

update status display for terminating pods
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/kubernetes_pod.py
Due: check-oapi-schema

Add tests for displaying terminating pods in paasta status
  tests/cli/test_cmds_status.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Add tests (thx claude)
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/api/test_instance.py
  tests/cli/test_cmds_start_stop_restart.py
  tests/instance/test_kubernetes.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Apply suggestion from @nemacysts
  paasta_tools/instance/kubernetes.py
Due: none

Whoops, missed a codegenerated file?
  paasta_tools/paastaapi/model/inline_response2002.py
Due: none

Update paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

Apply suggestion from @nemacysts
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

Add force param, default to configured termination_grace_period_seconds
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/instance.py
  paasta_tools/cli/cmds/start_stop_restart.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/kubernetes_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/instance_replica_restart_outcome.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_instance.py
  tests/cli/test_cmds_start_stop_restart.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Apply suggestion from @jfongatyelp
  paasta_tools/instance/kubernetes.py
Due: none

Display remaining time for terminating pods in paasta status
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Use unfederated envoy_cluster__egress_cluster_upstream_rq_active
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

refactor: remove duplicated line
  k8s_itests/scripts/clean.sh
Due: none

FLINK-2583: Enable paasta restart for Flink services
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

FLINK-2583: Use polling approach for Flink restart
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

Fix verbose parameter type in _get_flink_state
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

Fix _get_flink_state to correctly access state from status dict
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

Address PR review feedback for Flink restart
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

Add network error handling for Flink state API calls
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

Add consistent error handling and return type annotation
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

Add network error handling to paasta_start_or_stop and cluster context to error messages
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

Refactor local-run environment handling and remove Mesos-isms
  paasta_tools/cli/cmds/local_run.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

Remove Mesos-isms from spark_run
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

using abs() to keep code minimal
  paasta_tools/cli/cmds/status.py
Due: none

remove references to clusterman_metrics
  paasta_tools/cli/cmds/spark_run.py
  paasta_tools/clusterman.py
  paasta_tools/tron_tools.py
  tests/cli/test_cmds_spark_run.py
  tests/test_tron_tools.py
  yelp_package/extra_requirements_yelp.txt
Due: patch-enforce-autospec

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^paasta_tools/api/api_docs/oapi.yaml, but not: ^$
