Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

patch-enforce-autospec:
  name: mock.patch enforce autospec
  description: This hook ensures all mock.patch invocations specify an autospec
  entry: paasta_tools/contrib/mock_patch_checker.py
  language: script

check-oapi-schema:
  name: check that oapi.yaml is updated if paastaapi changes
  description: paastaapi is autogenerated with make openapi-codegen
  entry: paasta_tools/contrib/check_manual_oapi_changes.sh
  language: script

Released 0.135.6 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

[FLINK-4097] Small corrections after review
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec

Fix regex to also assert floating timeout values
  paasta_tools/cli/cmds/spark_run.py
Due: none

COMPINFRA-582, take care of comments by @luips
  paasta_tools/tron_tools.py
  tests/test_tron_tools.py
Due: patch-enforce-autospec

COMPINFRA-1248: update get-latest-deployment for full DeploymentVersions, add json option
  paasta_tools/cli/cmds/get_latest_deployment.py
  paasta_tools/utils.py
  tests/cli/test_cmds_get_latest_deployment.py
Due: patch-enforce-autospec

Released 0.135.7 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Wrap readiness probes in flock + timeout command, and make the wrapper configurable in /etc/paasta. PAASTA-17673
  paasta_tools/kubernetes_tools.py
  paasta_tools/utils.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

CLUSTERMAN-582, add pool label to pods that come from nodes (#3383)
  paasta_tools/contrib/get_running_task_allocation.py
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.135.8 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 0.135.8 via make release (#3414)
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

cli: have push-to-registry handle multiple tag conventions
  paasta_tools/cli/cmds/push_to_registry.py
  tests/cli/test_cmds_push_to_registry.py
Due: patch-enforce-autospec

Released 0.135.9 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 0.135.10 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

[FLINK-4097] Get Flink cluster status via JM API (#3399)
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.136.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.api.views.flink.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_cluster_overview.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_config.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job_details.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_jobs.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

MLCOMPUTE-36 | use get_dra_configs method to update dra configs
  paasta_tools/cli/cmds/spark_run.py
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

Revert "[FLINK-4097] Get Flink cluster status via JM API (#3399)"
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.137.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.api.views.flink.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_cluster_overview.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_config.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job_details.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_jobs.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Revert "Revert "[FLINK-4097] Get Flink cluster status via JM API (#3399)""
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

[FLINK-4097] Add a fallback for paasta APIs w/o the new endpoints
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Deleting duplicated args block
  paasta_tools/api/api.py
Due: none

Add comments explaining default readiness probe wrapper commands. PAASTA-17673
  paasta_tools/utils.py
Due: none

Released 0.138.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Update hash for test_warning_big_bounce_routable_pod
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 0.138.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Use correct base protocol for Counter
  paasta_tools/metrics/metrics_lib.py
Due: none

fix tests
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

add SERVICE_REGISTRATIONS env to hacheck
  paasta_tools/kubernetes_tools.py
Due: none

adjust big bounce test
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

MESH-1439: add SERVICE_REGISTRATIONS env to hacheck (#3410)
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

MLCOMPUTE-36 | fix tests
  paasta_tools/cli/cmds/spark_run.py
  requirements.txt
  tests/cli/test_cmds_spark_run.py
Due: patch-enforce-autospec

SERVICE_ -> MESH_REGISTRATIONS
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

CID-2427: Replacing raw 'node' with 'ynode'
  Jenkinsfile
Due: none

MESH-1439: SERVICE_ -> MESH_REGISTRATIONS (#3420)
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

[FLINK-4097] Bump fallback to the current minor version (138)
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

[FLINK-4097] Get Flink cluster status via JM API (#3418)
  Makefile
  paasta_tools/api/api.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/api/views/flink.py
  paasta_tools/cli/cmds/status.py
  paasta_tools/flink_tools.py
  paasta_tools/paastaapi/api/service_api.py
  paasta_tools/paastaapi/model/flink_cluster_overview.py
  paasta_tools/paastaapi/model/flink_config.py
  paasta_tools/paastaapi/model/flink_job.py
  paasta_tools/paastaapi/model/flink_job_details.py
  paasta_tools/paastaapi/model/flink_jobs.py
  paasta_tools/paastaapi/models/__init__.py
  tests/api/test_flink.py
  tests/cli/test_cmds_status.py
  tests/test_flink_tools.py
Due: patch-enforce-autospec, check-oapi-schema

Released 0.139.0 via make release
  debian/changelog
  docs/source/generated/paasta_tools.api.views.flink.rst
  docs/source/generated/paasta_tools.api.views.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_cluster_overview.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_config.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_job_details.rst
  docs/source/generated/paasta_tools.paastaapi.model.flink_jobs.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

PAASTA-17666 Fixes paasta validate to allow preceding comments
  paasta_tools/cli/cmds/validate.py
Due: none

Using raw ynode instead
  Jenkinsfile
Due: none

Path conditions:
  patch-enforce-autospec: any of: ^tests/.*\.py$|^.*_itests/.*\.py
  check-oapi-schema: any of: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*, but not: ^$
