Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

. t Add missing mock config
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

^ F Update gunicorn autoscaling metric
  paasta_tools/kubernetes_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
  tests/test_kubernetes_tools.py
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

remove dupe mode
  paasta_tools/cli/schemas/smartstack_schema.json
Due: none

. t syntax refactor
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 1.30.11 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 1.30.12 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Using PAASTA_PORT instead of hard-coded 8888
  paasta_tools/cli/cmds/status.py
Due: none

^ t Test `worker-load` scaling rule
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

@ F Adjust worker-load scaling rule
  paasta_tools/long_running_service_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

@ F Copy `uwsgi_v2` scaling rule
  paasta_tools/setup_prometheus_adapter_config.py
Due: none

^ F Setup `worker-load` autoscaler
  paasta_tools/cli/schemas/autoscaling_schema.json
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

. R DRY
  paasta_tools/kubernetes_tools.py
Due: none

Released 1.30.13 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

s/_/- in arbitrary promql autoscaling provider
  docs/source/autoscaling.rst
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/schemas/autoscaling_schema.json
  paasta_tools/long_running_service_tools.py
Due: none

fix existing typo
  docs/source/yelpsoa_configs.rst
Due: none

Released 1.30.14 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

^ R Use dash in provider name
  paasta_tools/long_running_service_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

adding env field to KubernetesContainerV2
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
Due: check-oapi-schema

regenerate kubernetes_container_v2
  paasta_tools/paastaapi/model/kubernetes_container_v2.py
Due: none

Add `deploy_group` as a default k8s label
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 1.30.14 via make release
  debian/changelog
  paasta_tools/__init__.py
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/kubernetes_container_env_var_v2.py
  paasta_tools/paastaapi/models/__init__.py
  tests/instance/test_kubernetes.py
  yelp_package/Makefile
Due: patch-enforce-autospec, check-oapi-schema

adding env info to tests
  debian/changelog
Due: none

adding env info to tests
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
Due: check-oapi-schema

regenerate api classes
  paasta_tools/paastaapi/model/kubernetes_container_v2.py
  paasta_tools/paastaapi/model/kubernetes_container_v2_env_var.py
  paasta_tools/paastaapi/models/__init__.py
Due: none

remove duplicate entry from schema
  paasta_tools/cli/schemas/autoscaling_schema.json
Due: none

Released 1.31.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

re-write client side
  paasta_tools/cli/cmds/status.py
Due: none

re-write client side
  paasta_tools/instance/kubernetes.py
Due: none

^ B Add missing validation config
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

[worker-load autoscaler] Add missing validation config (#4125)
  paasta_tools/cli/cmds/validate.py
  tests/cli/test_cmds_validate.py
Due: patch-enforce-autospec

Released 1.31.1 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

black formatting
  paasta_tools/cli/cmds/status.py
Due: none

regenerate api classes
  paasta_tools/paastaapi/model/kubernetes_container_v2_env_var.py
  paasta_tools/paastaapi/models/__init__.py
Due: none

Implementing container env
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec
