Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

---
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.9.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
        # Could be replaced by ruff when they implement TMS020, TMS021 and TMS022
        # https://github.com/astral-sh/ruff/issues/5734
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        # we just want to run this hook once, so only include a single file
        files: ^paasta_tools/api/api_docs/oapi.yaml

ignoring complex env vars
  paasta_tools/instance/kubernetes.py
Due: none

considering complex env vars in the test
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Adding total replica count in paasta cli
  paasta_tools/cli/cmds/status.py
Due: none

adding container_port to KubernetesVersion
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/kubernetes_version.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec, check-oapi-schema

Fixing status for flink workload
  paasta_tools/cli/cmds/status.py
Due: none

Fixing output tests for flink
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

removing bold of text
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Fixing status for non flink workload
  paasta_tools/cli/cmds/status.py
Due: none

Changing description of the container_port
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/paastaapi/model/kubernetes_version.py
Due: check-oapi-schema

Retry more smartly when getting hosts in mesh_status
  paasta_tools/instance/kubernetes.py
Due: none

Apply suggestion from @jfongatyelp
  paasta_tools/instance/kubernetes.py
Due: none

add some tests
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Released 1.31.2 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Adding total replica count in paasta cli (#4128)
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec

Add `deploy_group` as a default k8s label
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Retry more intelligently when getting hosts in mesh_status (#4105)
  paasta_tools/instance/kubernetes.py
  tests/instance/test_kubernetes.py
Due: patch-enforce-autospec

Released 1.31.3 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

fix tests
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

^ F When using worker-load autoscaler, need gunicorn label
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 1.31.4 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Completely fix autotune_limits typo
  docs/source/yelpsoa_configs.rst
Due: none

Completely fix autotune_limits typo (#4131)
  docs/source/yelpsoa_configs.rst
Due: none

Handle `paasta local-run` being called from inside a venv
  paasta_tools/cli/cmds/local_run.py
Due: none

add another potential path
  paasta_tools/cli/cmds/local_run.py
Due: none

upgrade k8s
  requirements-minimal.txt
  requirements.txt
Due: none

fix tests
  paasta_tools/instance/hpa_metrics_parser.py
  paasta_tools/kubernetes/remote_run.py
  paasta_tools/kubernetes_tools.py
  tests/instance/test_hpa_metrics_parser.py
  tests/kubernetes/test_remote_run.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

add support for matchLabelKeys
  paasta_tools/cli/schemas/eks_schema.json
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

add matchLabelKeys tests
  paasta_tools/utils.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Skip manual rollback instructions when there's no rollback SHA
  paasta_tools/cli/cmds/mark_for_deployment.py
Due: none

Add some `claude`-generated tests
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

mock load_s_p_c
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

maybe i need these mocks?
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

add support for host aliases in paasta
  docs/source/yelpsoa_configs.rst
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  requirements-minimal.txt
  requirements.txt
  tests/cli/test_cmds_validate.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Skip manual rollback instructions when there's no rollback SHA (#4134)
  paasta_tools/cli/cmds/mark_for_deployment.py
  tests/cli/test_cmds_mark_for_deployment.py
Due: patch-enforce-autospec

Add `deploy_group` as a default k8s label (#4123)
  paasta_tools/kubernetes_tools.py
  tests/test_kubernetes_tools.py
Due: patch-enforce-autospec

Released 1.32.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

we don't need sudo where we're going
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/utils.py
  tests/cli/test_cmds_local_run.py
Due: patch-enforce-autospec

silly copilot
  paasta_tools/utils.py
Due: none

removing debug print
  paasta_tools/utils.py
Due: none

wtb pre-commit in GH suggestions
  paasta_tools/cli/cmds/local_run.py
  paasta_tools/utils.py
Due: none
