Repository Yelp/paasta: changes, and which pre-commit hooks are due for each by the changed paths.
All: patch-enforce-autospec, check-oapi-schema

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: CHANGELOG.md
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-yaml
        exclude: /template/
    -   id: debug-statements
    -   id: name-tests-test
        args: [--django]
    -   id: requirements-txt-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
        exclude: ^paasta_tools/paastaapi
    -   id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.4.0
    hooks:
    -   id: reorder-python-imports
        args: [--py3-plus]
        additional_dependencies: [aspy.refactor_imports==0.5.3]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^paasta_tools/paastaapi
-   repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ['--target-version', 'py37']
        exclude: ^paasta_tools/paastaapi
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        args: ['--ignore', 'E231']
        exclude: ^docs/source/conf.py|paasta_tools/paastaapi.*$
-   repo: https://github.com/Yelp/detect-secrets
    rev: 0.9.1
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: .*tests/.*|.*yelp/testing/.*|\.pre-commit-config\.yaml
-   repo: local
    hooks:
    -   id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: This hook ensures all mock.patch invocations specify an autospec
        entry: paasta_tools/contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$|^.*_itests/.*\.py
    -   id: check-oapi-schema
        name: check that oapi.yaml is updated if paastaapi changes
        description: paastaapi is autogenerated with make openapi-codegen
        entry: paasta_tools/contrib/check_manual_oapi_changes.sh
        language: script
        exclude: ^$
        files: ^.*paasta_tools/api/api_docs/oapi.yaml|^.*paasta_tools/paastaapi.*

[FLINK-3869] Fail explicitly for Flink service `restart`
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

Drop xenial GHA builds + use internal source as much as possible
  .github/workflows/ci.yml
  Makefile
  general_itests/fake_simple_service/Dockerfile
  general_itests/fake_simple_service/Makefile
  tox.ini
  yelp_package/Makefile
  yelp_package/dockerfiles/bionic/Dockerfile
  yelp_package/dockerfiles/focal/mesos-slave-secret
  yelp_package/dockerfiles/gitremote/Dockerfile
  yelp_package/dockerfiles/itest/api/Dockerfile
  yelp_package/dockerfiles/itest/k8s/Dockerfile
  yelp_package/dockerfiles/itest/marathon/Dockerfile
  yelp_package/dockerfiles/itest/mesos/Dockerfile
  yelp_package/dockerfiles/itest/zookeeper/Dockerfile
  yelp_package/dockerfiles/xenial/Dockerfile
Due: none

wip
  example_cluster/docker-compose.override.yml
  paasta_itests/docker-compose.yml
  yelp_package/dockerfiles/itest/mesos/Dockerfile
Due: none

Drop xenial GHA builds
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  yelp_package/dockerfiles/itest/api/Dockerfile
  yelp_package/dockerfiles/itest/k8s/Dockerfile
  yelp_package/dockerfiles/itest/mesos/Dockerfile
  yelp_package/dockerfiles/xenial/Dockerfile
Due: none

[FLINK-3869] Adds a more explicit message about the execution plan
  paasta_tools/cli/cmds/start_stop_restart.py
Due: none

Use bionic for api container
  yelp_package/dockerfiles/itest/api/Dockerfile
Due: none

Drop xenial GHA builds (#3260)
  .github/workflows/ci.yml
  .github/workflows/pypi.yml
  yelp_package/dockerfiles/itest/api/Dockerfile
  yelp_package/dockerfiles/itest/k8s/Dockerfile
  yelp_package/dockerfiles/itest/mesos/Dockerfile
  yelp_package/dockerfiles/xenial/Dockerfile
Due: none

Create new arbitrary_promql metrics provider, which allows arbitrary queries to be passed to the prometheus metrics adapter.
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  paasta_tools/long_running_service_tools.py
  paasta_tools/setup_prometheus_adapter_config.py
  tests/test_setup_prometheus_adapter_config.py
Due: patch-enforce-autospec

add KUBERNETES_NAMESPACE to modules
  paasta_tools/cassandracluster_tools.py
  paasta_tools/flink_tools.py
  paasta_tools/kafkacluster_tools.py
  paasta_tools/monkrelaycluster_tools.py
  paasta_tools/nrtsearchservice_tools.py
  paasta_tools/spark_tools.py
  paasta_tools/utils.py
Due: none

[FLINK-3869] Adds test cases
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

sync secrets to all relevant namespaces, allow overriding of namespace
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

DREIMP-4336 add paasta status writer for work cassandracluster
  paasta_tools/api/api_docs/oapi.yaml
  paasta_tools/api/api_docs/swagger.json
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/paastaapi/model/instance_status_cassandracluster.py
  paasta_tools/paastaapi/models/__init__.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec, check-oapi-schema

put the new cassandracluster status writer behind a feature flag
  paasta_tools/cli/cmds/status.py
  paasta_tools/instance/kubernetes.py
  paasta_tools/utils.py
Due: none

set namespace to tron for tron
  paasta_tools/tron_tools.py
Due: none

use cr_id where possible
  paasta_tools/cassandracluster_tools.py
  paasta_tools/flink_tools.py
  paasta_tools/kafkacluster_tools.py
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/monkrelaycluster_tools.py
  paasta_tools/nrtsearchservice_tools.py
  paasta_tools/utils.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

always log namespace when syncing secrets
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

fix cr_id not being called
  paasta_tools/utils.py
Due: none

add default_cr_id as fallback instead of using a lambda
  paasta_tools/utils.py
Due: none

use cached function instead of static global
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/utils.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

fix linting issues
  paasta_tools/cassandracluster_tools.py
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

[FLINK-3869] Fail explicitly for Flink service `restart` (#3258)
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

[FLINK-3869] Adds small formatting fixes
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

[FLINK-3869] Adds small formatting fixes (#3263)
  paasta_tools/cli/cmds/start_stop_restart.py
  tests/cli/test_cmds_start_stop_restart.py
Due: patch-enforce-autospec

use static map of resource -> k8s namespace
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/utils.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

use normal dict in tests
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

refactor get_services_to_k8s_namespaces into separate function
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
Due: none

Released 0.116.1 via make release
  debian/changelog
  docs/source/generated/paasta_tools.paastaapi.model.instance_status_cassandracluster.rst
  docs/source/generated/paasta_tools.paastaapi.model.rst
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

correctly use Set as Set[T], move INSTANCE_TYPE_TO_K8S_NAMESPACE to utils,
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/utils.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

fix invalid namespace mappings
  paasta_tools/utils.py
Due: none

Update paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Add explanatory comment for the weird entry in the enum
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Fix another misspelling of arbitrary_promql
  paasta_tools/cli/schemas/kubernetes_schema.json
Due: none

Remove support for HTTP autoscaling, since nothing uses this.
  paasta_tools/cli/cmds/validate.py
  paasta_tools/cli/schemas/kubernetes_schema.json
  paasta_tools/kubernetes_tools.py
  tests/autoscaling/test_autoscaling_service_lib.py
Due: patch-enforce-autospec

COMPINFRA-925, update the check_orphans function to print the hostnames
  paasta_tools/contrib/check_orphans.py
Due: none

Add support for syncing paasta secrets into multiple k8s namespaces (#3262)
  paasta_tools/cassandracluster_tools.py
  paasta_tools/flink_tools.py
  paasta_tools/kubernetes/bin/paasta_secrets_sync.py
  paasta_tools/spark_tools.py
  paasta_tools/tron_tools.py
  paasta_tools/utils.py
  tests/kubernetes/bin/test_paasta_secrets_sync.py
Due: patch-enforce-autospec

Released 0.117.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

Released 0.118.0 via make release
  debian/changelog
  paasta_tools/__init__.py
  yelp_package/Makefile
Due: none

cassandra status: fix error when status.nodes is None
  paasta_tools/cli/cmds/status.py
  tests/cli/test_cmds_status.py
Due: patch-enforce-autospec
